[2017-01-26 17:13] nathangibson commented on #687
There were others too. See #693

[2017-01-26 17:18] #687 closed

[2017-01-26 17:19] nathangibson commented on #693
I've corrected these. Please approve @davidamichelson

[2017-01-26 17:30] nathangibson commented on #688
I've moved to master branch and contacted the user.

[2017-01-26 17:30] #688 closed

[2017-01-26 19:03] dlschwartz opened #694 "duplicate death date in tei"
@nathangibson, there are two death dates given for http://syriaca.org/person/856 in the tei. This puts the date into the timeline twice. Would you be able to fix that? Thanks.

Might this be the result of merging saint and author records? If so, might we have this problem elsewhere?

[2017-01-26 19:27] dlschwartz opened #695 "problem with headword"
@nathangibson, could you take a look at http://syriaca.org/person/2821. The first name variant has xml:lang="en" syriaca-tags="#syriaca-headword" but there is no text node. We get an English name on the page, but no English name (only Syriac) shows up in search results: http://syriaca.org/persons/search.html?coll=sbd&type=&q=&name=abraham&start-date=&end-date=&date-type=&gender=&state=&related-pla

[2017-01-26 21:37] dlschwartz opened #696 "multiple URIs for John bar Aphtonia"
I failed to find person/52 and minted person/2675. Should deprecate person/2675 or simply delete it? It should only be used in SPEAR which hasn't been published yet. I could easily replace the URIs in SPEAR.

[2017-01-27 17:18] dlschwartz commented on #695
@wsalesky and @nathangibson, it would be great if you could figure this one out. Thanks!

[2017-01-27 17:26] wsalesky commented on #695
Fixed in the xslt. There is an empty headword there though, so this is still a data issues as well.

[2017-01-27 18:10] davidamichelson commented on #693
Approved

[2017-01-27 22:30] davidamichelson commented on #696
Thanks @dlschwartz Can you assign these to @nathangibson for the next few weeks. I need to write.

[2017-01-29 20:59] jsaintlauren commented on #690
I approve too!  Thanks!

On Thu, Jan 26, 2017 at 10:52 AM, nathangibson <notifications@github.com>
wrote:

[2017-02-09 06:36] nathangibson opened #700 "Erroneous column nos. in Latin trans. of work/588"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/588 col. "8709"

[2017-02-09 06:40] nathangibson commented on #700
Corrected.

[2017-02-15 20:20] davidamichelson opened #702 "Universal Syriaca RDF transformation"
The purpose of this issue is to create  generic lowest common denominator transformation for persons, places, works, and bibl records so we can generate linked data.

This is a draft.

@wsalesky Please write a transform for the following:

For a each record we need to generate four sets of triples. This is the model for a person record:

[code]

[2017-02-15 20:25] davidamichelson commented on #702
For a place, work, and bibl records the above should work with the following changes:

lawd:place and lawd:conceptualWork and dcterms:bibliographicResource instead of lawd:person

[2017-02-15 20:34] davidamichelson commented on #702
Here are some notes on the paths for the content:
```skos:prefLabel "Ephrem"@en, "ܐܦܪܝܡ"@syr;```
We need to leave these separate as they name the concept, we can mash them up in the visualization.

```skos:closeMatch <http://viaf.org/viaf/sourceID/SRP|person_13>, <http://viaf.org/viaf/100177778>```
These are all from TEI/text/body/listPerson/person/IDNO@type=URI, please exclude the URI of the reco

[2017-02-15 20:38] davidamichelson commented on #702
There are definitely some issues to work out on how to model bibl URIS

[2017-02-16 11:03] nathangibson commented on #702
@davidamichelson and @wsalesky This is exciting!

A small comment: we should note capitalization issues. E.g., lawd:Person, lawd:Place, lawd:ConceptualWork (http://lawd.info/ontology), and dcterms:BibliographicResource (http://dublincore.org/documents/dcmi-terms/).

As far as I know, a typical RDF practice is to use upper camel case (first letter capitalized) for RDF classes and lower camel case (

[2017-02-16 15:32] wsalesky commented on #702
@nathangibson Yes, that is my understanding for properties vrs. classes as well.

[2017-02-16 17:17] wsalesky commented on #702
syriaca:hasLiteraryConnectionToPlace  is not the only relationship in the data. For any relationships using the ref attribute, I will translate that attribute directly to a RDF class name, what should I do with the other name attribute values? Will they be migrated to `@ref`? Or should I build in some logic to handle them on the fly?

[2017-02-16 20:12] nathangibson commented on #702
OK, this is kind of complicated....

1. The `relation/@ref` should be turned into an RDF property (rather than class name).
2. It is primarily persons and places that have `relation/@name`. I would like to switch these to `@ref` (or at least add `@ref`) but need to get input from the other editors first. This is related to https://github.com/srophe/srophe-app-data/issues/676 , except that what I w

[2017-02-16 21:48] #500 closed

[2017-02-16 22:06] dlschwartz opened #704 "two URIs for Sergius of Tella"
I'm pretty sure that person/1463 and person/2072 are the same person. Both are the Sergius of Tella who became patriarch of Antioch. This is recounted in work/839 (Patrologia Orientalis vol. 18.4 (1924), : p.689 [487]). Our record for work/839 indicates that it commemorates person/2072.

[2017-02-16 22:10] dlschwartz opened #705 "Sergius in work/797"
Did something perhaps go wrong in splitting the records for the saints commemorated in work/797. We have a record for the Simeon (person/2095) but I cannot seem to find one for the Sergius commemorated in the same work. Thanks

[2017-02-16 22:15] dlschwartz commented on #477
Can we close this issue?

[2017-02-16 22:23] dlschwartz opened #706 "error message when going to advanced search from person record"
@wsalesky I consistently get an error message when I am on a person record and try to access the advance search using the gear icon at the top of the page. When I use the same icon on the browse page it works just fine. Could you please check this out Winona? Thanks.

[2017-02-16 23:28] wsalesky commented on #706
Dev or production server?

[2017-02-16 23:29] wsalesky commented on #706
Never mind, I see it is on both. I will fix it.

[2017-02-17 01:59] jedwardwalters commented on #705
This one isn't on my list of records that I split, so I must have missed this one somehow when I was compiling a list. I'll take care of it.

[2017-02-17 02:45] jedwardwalters commented on #705
Done. Sergius is now http://syriaca.org/person/3154

[2017-02-17 02:45] #705 closed

[2017-02-17 02:52] wsalesky commented on #706
Fixed. See: 11ac675e6a5f9ef09d89674bcb9a2ffc68c70b7d

[2017-02-17 02:52] #706 closed

[2017-02-17 03:06] wsalesky commented on #702
@nathangibson Thanks! I have a rough draft written, will do some testing over the weekend.

[2017-02-17 12:06] nathangibson commented on #670
Agreed. The account of Tribunus mentions pro-Chalcedonians, so obviously post Eusebius and not a martyr under Dionysius.
We simply need to split person/2130 and point work/835 to the new record, correct?
https://archive.org/stream/patrologiaorient18pariuoft#page/660/mode/2up
https://archive.org/stream/martyrspalestine00euseuoft#page/n29/mode/2up

[2017-02-17 12:15] nathangibson commented on #704
OK, looks like we should merge person/1463 and person/2072 and correct the PO citation in person/1463 which should be to 18.4, not 17.1. Correct?

[2017-02-17 15:54] dlschwartz commented on #670
Sorry, I forgot I had already written this up. By split person/2130, do you mean simply remove work/835 from person/2130 and create a new record for Tribunus? If so, you might just want to remove work/835 from person/2130 and I will create a record for Tribunus when I create all the new person records for John of Ephesus. Just let me know if that sounds alright or if you would prefer to create the

[2017-02-17 16:07] nathangibson commented on #670
Yes, that's what I meant. We still need a link from work/835 to something, so unless you have a place to put that relationship in your John of Ephesus spreadsheet, I think I should go ahead and create a Tribunus record.

[2017-02-17 16:14] dlschwartz commented on #670
I wasn't thinking about that. If you would like to create that record, please do. Could you send me the URI when you have it? Thanks Nathan.

[2017-02-17 16:20] nathangibson commented on #670
OK Tribunus will be http://syriaca.org/person/3155. I'm working on the split now.

[2017-02-17 16:23] dlschwartz commented on #704
Yes, the merge and the change in PO volume are both correct. Thank you Nathan! Please let me know when you decide which URI to deprecate and which to keep. Thanks.

[2017-02-17 16:25] dlschwartz commented on #705
Excellent. Thanks so much Jamey!

[2017-02-17 16:42] nathangibson commented on #704
We will keep person/1463.

[2017-02-17 16:47] dlschwartz commented on #704
Great thanks!

[2017-02-17 17:08] nathangibson opened #709 "Review work records for Sergius and Tribunus"
Please review work/835 and work/839 changed in this commit https://github.com/srophe/srophe-app-data/commit/f199dee40fd4fc04252390aa47ad77fa97c23749 and push to production if OK.

[2017-02-17 17:18] nathangibson commented on #704
Done, and I've assigned person/1463 to you in Perseids (we could use it for the testing on Tu.)

[2017-02-17 17:19] nathangibson commented on #670
Done, and I've assigned person/2130 and person/3155 to you in Perseids.

[2017-02-17 17:19] #670 closed

[2017-02-17 17:21] dlschwartz commented on #704
Yes, let's do these on Tuesday. Thanks!

[2017-02-21 16:38] davidamichelson commented on #702
@nathangibson Let's discuss this on Wed with Winona. Would it be better to change all the @ref to @name?

[2017-02-21 16:39] davidamichelson commented on #702
On bibls, we will be using relations, so let's not lose that data or functionality.

[2017-02-22 02:34] wsalesky commented on #702
Basic transform written. You can review results here (swap in any record you want to check by changing the 'work/13' with 'person', 'place', etc):

http://wwwb.library.vanderbilt.edu/exist/restxq/srophe/work/13/ttl

I am working on extracting a full list from eXist to up load to a triplestore, will try locally first.

[2017-02-28 16:13] nathangibson commented on #702
Getting the following error:

type Exception report

message An error occurred while processing request to /exist/restxq/srophe/work/13/ttl: err:XPTY0004 xs:string(1 Chronicles (Peshitta Version)Syriaca.org: The Syriac Reference PortalThe International Balzan Prize FoundationThe National Endowment for the HumanitiesDavid A. MichelsonNathan P. GibsonDavid A. MichelsonNathan P. GibsonDavid A. Michel

[2017-03-01 17:14] nathangibson opened #710 "Create literary tradition records with redirect for singleton texts"
cc: @davidamichelson
http://139.91.183.82:8888/FRBR_Tutorial/intellectual-products-in-frbroo

It seems that our "literary traditions" essentially correspond to FRBR works, and our "texts" within those traditions correspond to FRBR expressions. We want to retain the labels we have, but we may be able to use FRBRoo to model the relationships.

Moreover, for RDF and for expandability we would like to

[2017-03-08 18:47] davidamichelson commented on #710
@nathangibson FYI, after discussion in the module editors meeting we have decided to call thsi class of URIs (eg literary traditions) "composite" concept URIS. Just a note so you understand if you see me using this term.

[2017-03-13 17:03] nathangibson commented on #710
OK, I'm adding to our agenda to discuss in more detail.

[2017-03-13 17:59] davidamichelson commented on #710
Great, we briefed Winona on the concept on Wed, so this would be good to
follow up.

On Mon, Mar 13, 2017 at 12:03 PM, nathangibson <notifications@github.com>
wrote:

[2017-03-15 18:17] nathangibson opened #711 "Change syriaca:part-of-tradition and syriaca:isExampleOfTradition to skos:broadMatch"
For new "composite URI" renderings. Cf. #710

[2017-03-15 18:17] nathangibson commented on #463
Cf. #711

[2017-03-15 18:21] #711 closed

[2017-03-20 15:30] wsalesky commented on #710
@nathangibson do we have any examples of nested hierarchy, more then just one level? I think my current code will probably break for multiple levels of grouping but will need some real(ish) data to test it on.

Current test is on `Alexandra (literary tradition) - ܐܠܟܣܢܕܪܐ - http://syriaca.org/work/2057` and it's constituent parts.

Thanks!

[2017-03-20 15:44] nathangibson commented on #710
@wsalesky I assume you mean multiple levels of the skos:broadMatch? I'm not yet convinced we'll need multiple levels of this, but let me mock up an example for you just in case.

[2017-03-20 15:45] wsalesky commented on #710
Yes, sorry that is what I mean. Thank you.

[2017-03-20 16:06] nathangibson commented on #710
OK, I've uploaded some sample records. If we do use multiple levels of skos:broadMatch, it could look something like this:
1 Esdras (Syro-Hexapla Version) (work/40) has broad match 1 Esdras (Literary Tradition) (work/9706) which has broad match Ezra (Literary Tradition) (work/9532).
Let me know if that doesn't make sense or if there are any encoding issues. Thanks!

[2017-03-20 16:20] wsalesky commented on #710
Thank you!

[2017-03-20 16:36] wsalesky commented on #710
Are we using @ref or @name ?

https://github.com/srophe/srophe-app-data/blob/dev/data/works/tei/410.xml#L348
or
https://github.com/srophe/srophe-app-data/blob/dev/data/works/tei/nhsl/tei/40.xml#L161

I think we settled on name right?

[2017-03-21 16:46] nathangibson commented on #676
@wsalesky
We discussed this again today, and we would like to move RDF properties in relations to `@ref`. This includes SPEAR, with @dlschwartz 's approval. So far as I know, the Gazetteer does not have any RDF properties in relations.

Here is what I plan to do:
1. Move all `@name` values in person and work relations to `@ref`.
 A. Prefix these and change them to RDF properties. Working list at h

[2017-03-21 16:47] nathangibson commented on #710
@wsalesky Actually we want to use `@ref`. Please see notes from the editors' discussion today: https://github.com/srophe/srophe-app-data/issues/676#issuecomment-288141619. Thanks!

[2017-03-21 18:16] wsalesky commented on #676
Great, thanks. I hope to have something for us to look at by tomorrow.

[2017-03-21 19:40] nathangibson commented on #676
OK @wsalesky , I think I've completed step 1 above (see the referenced commits). I'll need to double-check tomorrow. I've also updated https://github.com/srophe/srophe-eXist-app/blob/dev/srophe-app/documentation/syriaca-tei-main.odd and https://github.com/srophe/srophe-eXist-app/blob/dev/srophe-app/documentation/syriaca-tei-main.rnc.

[2017-03-21 19:42] nathangibson commented on #676
The merge was big enough it might need to be manually pushed.

[2017-03-22 02:06] wsalesky commented on #676
Done.

[2017-03-22 15:39] nathangibson opened #712 "Webhooks?"
@wsalesky Just did a commit https://github.com/srophe/srophe-app-data/commit/352c98f663e038c07a76770d977d3e88596a5456 and it looks like the webhooks were successful but I'm still getting 404 on the pushed files. E.g., wwwb.library.vanderbilt.edu/bibl/2434

Can you tell what's wrong?

[2017-03-22 15:45] wsalesky commented on #712
Yes, sorry. The webhook was mangling the upload url for new records. Works fine for updates. I will fix it. (And I added the bibl records by hand. )

[2017-03-22 15:45] #712 closed

[2017-03-28 15:26] nathangibson opened #713 "Edits to Lives of Eastern Saints"
- New record: History of the Monastery of John Urtaya (see http://syri.ac/johnofephesus)
- Change work/850 relation to LES work/9501 (syriaca:isSometimesPartOf)
- Mark work/850 as pseudonymous authorship.
- Change work/850 PO 29 to PO 19
- Add “Baradaeus” to all titles (including) work/840 and work/841

cc: @jsaintlauren , @dlschwartz

[2017-03-29 13:23] nathangibson commented on #713
@jsaintlauren Please take a look and revise as necessary: https://github.com/srophe/srophe-app-data/commit/1db84676affd7461575de1515eafe282be337610

A few questions
 - History of the Monastery of John Urtaya (http://wwwb.library.vanderbilt.edu/work/10510)
   - Do the titles look OK? I abbreviated the Syriac title somewhat -- not sure if it's too much or not enough.
   - Did you want any French tit

[2017-03-29 16:08] nathangibson commented on #713
Also do you know why in http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/848 Zanetti has "et (2)" on the 1st ms?

[2017-04-18 07:13] nathangibson opened #714 "Split person/1252 (Gregory or George, Zwanarse and Yazdapnah)"
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/1252

@jsaintlauren who would you like this assigned to?

Possibly the individual records already exist?
 - Gregory http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/1253 ?
 - Zwanarse http://wwwb.library.vanderbilt.edu/exist/apps/srophe/person/1527 ? (no commemoration listed)
 - Yazdapnah http://wwwb.library.vanderbilt.edu/exis

[2017-04-26 17:54] nathangibson opened #715 "Reordering bibl elements in work records"
@wsalesky Would you mind doing this data transform when you have the chance?

I would like to re-sort certain types of bibl elements in work records so that they appear in the preferred order on the page. (You don't need to change the xml:ids or worry about the order they appear in the Sources section.)

`@type=('lawd:Edition','syriaca:ModernTranslation')` should be in descending chronological ord

[2017-05-03 20:56] dlschwartz opened #719 "Changing module from "subject" to "keyword""
@wsalesky, I think the changes for this won't require too much work since we are at such an early stage.

The browse page should be titled "Browse Keywords" instead of "Browse Subjects"

The advanced search is a bit trickier. The title should read "Search Keywords." The search boxes are the tricky bit. The first should search anywhere and the second should search headwords. However, the headwords

[2017-05-05 18:04] dlschwartz opened #720 "Keywords added"
Winona, Nathan and I just added over 1000 keyword records to dev. They appear in browse but the individual records do not show up currently. Could you please look into this when you get a chance. Thank you.

[2017-05-05 18:05] wsalesky commented on #720
Sure. I will not get to it today, but hopefully before Monday.

[2017-05-05 18:34] dlschwartz opened #721 "Browse tab for keywords"
41 of these files have a subtype="category" on the entryFree element. Could you please create a "Categories" tab in browse that would list these.

Keywords that "nest" under these categories have been encoded with a relation element, ref="skos:broadMatch". We would like to use this to create a page that lists the keywords that nest under that category.

Please let me know if you need more than thi

[2017-05-08 13:28] wsalesky commented on #719
@dlschwartz what do you want the url to resolve to?
Currently it is at:
http://wwwb.library.vanderbilt.edu/taxonomy/index.html

Do you want it to be:
http://wwwb.library.vanderbilt.edu/subjects/index.html

[2017-05-08 13:37] dlschwartz commented on #719
@wsalesky, I prefer taxonomy, thanks!

[2017-05-08 13:40] wsalesky commented on #719
Okay. I will try to get this module working correctly today with the new data. Will let you know when there is something to see.

[2017-05-08 16:23] wsalesky commented on #720
Some inconsistencies in data, which cause some odd display issues:
[code]
You can see the active attribute uses 'subject' and the passive attribute uses 'keyword'

[2017-05-08 16:35] dlschwartz commented on #720
@wsalesky There is clearly a problem with the xslt. Funny, because I thought we took care of this. In fact, there are 3820 occurrences of "http://syriaca.org/subject/" when there should be zero. I will find and replace all of these and then push them back to Github. I hope this doesn't require too much tweaking of what you have already done.

[2017-05-08 16:37] wsalesky commented on #720
No problem. Let me know when they are on github.
Thanks!

[2017-05-08 16:42] dlschwartz commented on #720
I just pushed them. There should no longer be any occurrences of /subject/. Thanks.

[2017-05-09 15:06] wsalesky commented on #720
@dlschwartz initial view is working. Still working on browse, and we will most likely want to discuss the page view for each term, now that we have some real data to work with.

[2017-05-09 15:06] #720 closed

[2017-05-10 22:12] dlschwartz commented on #676
@wsalesky, commit 0eb6a9cd8de5275e75b0ee5cf60edd44794ae071 changes all relation name attributes to relation ref attributes.

[2017-05-16 13:41] #721 closed

[2017-05-16 13:41] #719 closed

[2017-05-16 13:44] wsalesky commented on #676
@dlschwartz Thanks! I updated the visualizations, everything should be working again, let me know if you find any bugs.

[2017-05-16 13:44] #676 closed

[2017-05-16 13:59] dlschwartz commented on #676
@wsalesky Thanks, this looks great! And it's faster than it's ever been.

[2017-05-16 18:11] wsalesky commented on #702
I think this has been resolved.

[2017-05-16 18:11] #702 closed

[2017-06-02 10:34] nathangibson opened #723 "Should we make bibl URIs for each Corpus text?"
@jedwardwalters @davidamichelson @dlschwartz @tacarlson

Right now I'm linking NHSL records to corpus texts using the following format, with a bibl for the entire corpus and a citedRange for the specific text:

[code]
It seems to me as if each of the corpus texts is a digital edition and should therefore have its own bibl URI associated directly with the corpus URI.

I'll add to our editors' docke

[2017-06-06 16:20] nathangibson commented on #723
Yes, @dlschwartz says we should!

[2017-06-06 18:03] jedwardwalters commented on #723
Okay, great. Should we add it as a column to our spreadsheet?
https://docs.google.com/spreadsheets/d/1d8gxz-Ax7bozQeAzy7ufzSjUn0z9muNHIi910A0gcuw/edit#gid=0

[2017-06-20 13:08] nathangibson opened #724 "Merge persons 423 and 2627?"
@jsaintlauren @dlschwartz These two Clements are the same, are they not?

Clement of Rome - ܩܠܡܝܣ
Names: QlēmīsQlēmīsClément In hagiography: Clement of Rome was commemorated by Syriac churches as an early bishop of Rome and apostolic father. URI: http://syriaca.org/person/423

Clement - ܩܠܝܡܝܣ
Bishop of RomeURI: http://syriaca.org/person/2627

[2017-06-20 13:36] nathangibson opened #725 "Merge person/2793 and person/2491?"
Are these the same person?

Helladius of Caesarea - ܗܠܕܝܘܣ ܕ ܩܣܪܝܐ
Names: Helladios of Caesarea Helladius Helladios de Césarée Bishop of Caesarea in Cappadocia ; successor and biographer of Basil of Caesarea URI: http://syriaca.org/person/2793

Helladius - ܐܠܐܕܝܘܣ
Bishop of Caesarea in Cappadocia who had a dispute with Theodore Bishop of TyanaURI: http://syriaca.org/person/2491

[2017-06-20 15:38] nathangibson opened #726 "Merge Peters of Alexandria? person/1413 and person/2735"
@dlschwartz @jsaintlauren Should these be merged?

Peter of Alexandria
Names: PeterPierre d’AlexandriePIERREIn hagiography: Peter of Alexandria was the seventeenth bishop of Antioch . He was martyred under the emperor Maximinus .URI: http://syriaca.org/person/1413

Peter I of Alexandria - ܦܛܪܘܣ ܪܝܫ ܐܦܝܣܩܘ̈ܦܐ ܘܣܗܕܐ
Names: Peter of AlexandriaBishop of Alexandria and martyrURI: http://syriaca.org/per

[2017-06-20 17:08] jsaintlauren commented on #726
Please assign to Dan since I'm not familiar with the reference from Severus
of Antioch. It seems possible that they are the same but only if Severus
was referring to a bishop of Antioch's past...

On Tuesday, June 20, 2017, nathangibson <notifications@github.com> wrote:

--
Sent by my large poodle - please excuse typos

[2017-06-20 17:09] jsaintlauren commented on #724
Yes they are the same. Thanks!

On Tuesday, June 20, 2017, nathangibson <notifications@github.com> wrote:

--
Sent by my large poodle - please excuse typos

[2017-06-20 17:11] dlschwartz commented on #724
Yes, they are the same.

[2017-06-20 17:15] nathangibson commented on #726
Sure, will do.

[2017-06-20 17:15] nathangibson commented on #724
Thanks, both of you!

[2017-06-20 17:28] dlschwartz commented on #726
These two are the same. When you merge, will you do a find and replace across all Syriaca.org data? Or will I need to do this myself for SPEAR? Thanks @nathangibson

[2017-06-20 17:34] dlschwartz commented on #725
Yes, these two are the same.

[2017-06-21 16:14] davidamichelson commented on #286
NOt identical. Do not merge.

[2017-06-21 16:14] #286 closed

[2017-06-30 15:29] davidamichelson commented on #704
@wsalesky @dlschwartz @nathangibson Something is not right here, this record person/2072 still displays even though it was maybe deprecated?

[2017-06-30 15:31] davidamichelson commented on #582
@nathangibson @wsalesky Something must be off in our redirects on merge records. Person/1521 just gives a 404 and does not redirect.

[2017-07-27 15:40] davidamichelson opened #727 "Duplicate Bibls"
The Greek and Syriac Versions of the Life of Antony - Syriaca.org
syriaca.org/bibl/2173
Jul 22, 2016 - Preferred Citation. David Brakke. " The Greek and Syriac Versions of the Life of Antony ." Le Muséon , vol. 107 ( 1994): 1-2: 29-53.
The Greek and Syriac Versions of the Life of Antony - Syriaca.org
syriaca.org/bibl/882
Jan 4, 2016 - Preferred Citation. D. Brakke. " The Greek and Syriac Versions

[2017-07-27 15:59] davidamichelson commented on #727
Another one:

Vertritt die syrische Fassung die ursprüngliche Gestalt der Vita ...
syriaca.org/bibl/2176
Luise Abramowski. " Vertritt die syrische Fassung die ursprüngliche Gestalt der Vita Antonii? Eine Auseinandersetzung mit der These Draguets ." In Mélanges ...
Vertritt die syrische Fassung die ursprungliche Gestalt der Vita ...
syriaca.org/bibl/884
Preferred Citation. L. Abramowski. " Vertritt

[2017-12-06 21:41] dlschwartz opened #728 "CTS URNs for SPEAR"
@wsalesky, as we discussed in our recent meeting with Dave, I'm interested in getting CTS URNs into SPEAR so that we can display Syriac text on the factoid page along with a link to the corpus. The editors discussed CTS URNs in our meeting today and I have a couple of questions.

1. I would like to propose adding a bibl type="urn" with a ptr target="[urn]" inside the bibl.

Example:
[code]

Does t

[2017-12-12 03:20] wsalesky commented on #728
@dlschwartz Yes, I can do that programatically. Shall I go ahead? (I can save the results in a test branch.)

[2017-12-12 15:41] dlschwartz commented on #728
@wsalesky, yes, please do and I'll make changes to the schema. Thanks.

[2017-12-12 16:03] dlschwartz commented on #728
@wsalesky I've added this to the schema and it seems to work fine. When you've run the script on the Chronicle of Edessa I'll test to make sure. Thanks.

[2017-12-12 18:20] wsalesky commented on #728
Okay, how do I connect the http://syriaca.org/bibl/633 to a corpus record? I don't see it linked here:
https://github.com/srophe/syriac-corpus/blob/master/data/tei/57.xml#L76

[2017-12-12 19:03] dlschwartz commented on #728
Yes, exactly. Sorry that wasn't clear. We don't have URNs or Corpus texts for some of the works covered in SPEAR. But since we do for the Chronicle, we want to see how it goes with using them to pull text from the corpus and visualize it on the factoid page. Adding these URNs is the first step of that process. If we can get this working it should be a nice deliverable for the NEH even if it is not

[2017-12-12 19:09] dlschwartz commented on #728
Great, thanks.

[2017-12-13 02:18] wsalesky commented on #728
Okay, changes are on this branch: https://github.com/srophe/srophe-app-data/tree/issue728

[2017-12-13 15:53] wsalesky commented on #728
Oh, sorry, I misunderstood. I will just rerun the data on a fresh version of the Chronicle.

[2017-12-13 16:00] wsalesky commented on #728
How does the updated file look?

[2017-12-13 16:06] dlschwartz commented on #728
Yes, that's it. What happens if we merge that into dev? Is there anything added here that will cause problems for the app in visualizing the factoids? If you don't anticipate problems, please go ahead and merge it in. Thanks!

[2017-12-13 16:15] wsalesky commented on #728
There should not be any problems.

On Wed, Dec 13, 2017 at 11:06 AM, Daniel Schwartz <notifications@github.com>
wrote:

[2017-12-13 18:57] dlschwartz commented on #728
I merged the branch into dev, the TEI validates according to the updated schema, and the html still looks fine. Now to grab the relevant section of text from the Corpus and display it on the factoid page. I have no idea what that entails. Please let me know if you need anything from me. Thanks!

[2017-12-13 19:05] wsalesky commented on #728
Okay great! I will let you know when there is something to see in the html

[2017-12-15 15:37] wsalesky commented on #728
See it in the text here:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/119-1

[2018-01-29 20:28] dlschwartz opened #730 "seriesStmt in SPEAR header"
In order to exploit composite URIs for browsing in SPEAR, I've added seriesStmt to the SPEAR header. See https://github.com/srophe/srophe-app-data/blob/dev/data/spear/tei/SPEAR_John_Ephesus_Lives_794.xml#L41. I've also added an equivalent statement into the sourceDesc for works that are not part of a series: https://github.com/srophe/srophe-app-data/blob/dev/data/spear/tei/Chronicle_of_Edessa.xml#

[2018-01-30 14:25] wsalesky commented on #730
@dlschwartz This approach makes sense to me.

[2018-02-02 19:50] dlschwartz commented on #730
@wsalesky So, now that I've added seriesStmt to the files, I've been in touch with Nathan and he's corrected me on something. These are not composite URIs and, therefore, should not use seriesStmt. Rather these works are in a containing relationship with one another. We do this elsewhere with a relation element (https://github.com/srophe/srophe-app-data/blob/dev/data/works/tei/10510.xml#L248) and

[2018-02-02 19:57] dlschwartz commented on #730
Just to be clear, the URI of the containing work would be the attribute value of the passive attribute. And, perhaps this is easier to look at here: https://github.com/srophe/srophe-app-data/blob/dev/data/spear/tei/SPEAR_John_Ephesus_Lives_10510.xml#L39.

[2018-02-02 20:07] dlschwartz commented on #730
One more thought here. I'm not sure what other uses we might have for the sourceDesc. I can't think of any. Can anyone think of a reason why it might be a problem that we have one structure for a sourceDesc that expresses a containing relationship :https://github.com/srophe/srophe-app-data/blob/dev/data/spear/tei/SPEAR_John_Ephesus_Lives_10510.xml#L39, and another structure for a sourceDesc that d

[2018-02-02 20:34] wsalesky commented on #730
I can't think of any issues with using the sourceDesc, code wise.

On Fri, Feb 2, 2018 at 3:07 PM, Daniel Schwartz <notifications@github.com>
wrote:

[2018-02-05 16:37] davidamichelson opened #731 "Change namespace "dct" to "dcterms""
@nathangibson It looks like in most modules we are using "dcterms" as the abbreviation for the dcterms namespace, but in NHSL you are using "dct", would you be willing to find and replace all in NHSL to make it match our practice elsewhere? Please let Winona know when it is done.

Thanks!
DM

[2018-02-05 19:41] dlschwartz commented on #730
@wsalesky I added a title element with ref to the work URI in the sourceDesc. For the time being I've left the listRelations in sourceDesc. As we discussed, it would be great to use the work URI in conjunction with the RDF from the works data to visualize the containing relationship in SPEAR. That would allow me to remove listRelation from sourceDesc. If we can't do that, it will be fine. But remo

[2018-02-07 18:36] dlschwartz commented on #730
@wsalesky I just realized a problem. We don't currently have work records for the individual letters of Severus contained in SPEAR. The URIs are reserved in a spreadsheet but we currently have no records that contain a reference to a containing work. As such, that data will not be in our RDF from the work record until we create work records. Argh.

[2018-02-08 16:12] wsalesky commented on #730
That could be a problem. Let me work my way through the issues, saving this one to later. There is still plenty to work on!

[2018-02-08 16:36] dlschwartz commented on #730
@wsalesky I've been in touch with Nathan. He has a spreadsheet already set up for batch processing of works records. Much of the basic data was already collected in the process of reserving the URIs for the individual letters and now we have URIs/records for the containing works. I should be able to produce draft records for dev by Monday. I trust that the RDF from those records is easily acquired

[2018-02-08 16:37] wsalesky commented on #730
Great! I'm really behind on multiple projects this week due to snow days and delays, so I may not get to this before Monday anyway. Let me know when they are up.

[2018-02-12 16:00] davidamichelson commented on #731
@nathangibson will you have time to make this change or should we do it for you?

[2018-02-12 17:13] nathangibson commented on #731
Sorry for the delay. This should be fixed now in https://github.com/srophe/srophe-app-data/commit/07ea05f77ff4709af1d6a297a9dc625e2f30f2c2.

The entities affected seem to works (NHSL) and subjects (taxonomy).

@wsalesky This will probably break some relations logic for NHSL and possibly taxonomy. It is also a very large commit so might need to be pushed manually to the dev server.

[2018-02-12 17:20] wsalesky commented on #731
I will take a look. Webhooks are currently down for the Dev server as we are experiencing some issues. So I will push the change manually after checking it locally.
Thanks for the heads up.

[2018-07-03 15:47] dlschwartz opened #734 "Push taxonomy to dev"
@wsalesky I went ahead and moved the newly created taxonomy TEI files to dev in GitHub. They aren't appearing in html though. I'm guessing the web hooks are still turned off. Could you push those for me? Thanks Winona.

[2018-07-03 17:16] wsalesky commented on #734
Webhooks are on, I think the commit was just to big. I added them manually. Let me know if you do not see the changes. I will try to rerun the RDF today and work on the rest of the browse. It would be nice to have that done this week!

[2018-07-30 17:58] dlschwartz opened #736 "relation in SPEAR teiHeader"
@wsalesky This is sort of a question that might turn into an issue. I've decided I need to tweak what I include in the sourceDesc of the SPEAR header. I'd like to replace the <p> element and the English prose with a more structured listBibl and then be able to validate other aspects of the document against that structured data. I'm hoping to restrict human error.

I realize though that this might

[2018-07-30 18:00] wsalesky commented on #736
@dlschwartz You can put it anywhere in the sourceDesc

[2018-07-30 18:00] dlschwartz commented on #736
Excellent. It will still be in sourceDesc. Thanks!

[2018-07-30 18:00] #736 closed

[2018-08-10 21:41] #734 closed

[2018-08-13 14:01] dlschwartz opened #738 "web forms"
@wsalesky The next-up number looks good but it doesn't look like the request to save URIs is actually working. I reserved two URIs and got the following:
![places1](https://user-images.githubusercontent.com/4984270/44036313-1c1f4218-9ed7-11e8-9e53-c2db643f5145.JPG)

But then I closed that tab and reentered the forms. The URIs don't seem to have been reserved:
![places2](https://user-images.githubu

[2018-08-13 14:02] wsalesky commented on #738
@dlschwartz what browser are you using?

[2018-08-13 14:06] wsalesky commented on #738
@dlschwartz Also what do you mean by "reentered the forms?" Just so I can try to reproduce the issue. I see your reserved URI's, so I suspect the form is being cached on your browser. (I may need to force the form to reload.)

[2018-08-13 14:30] dlschwartz commented on #738
@wsalesky I just closed the tab and then went back to the forms again. The form showed me that the next available URI was 3045 (even though I had just reserved 3045-3046) and allowed me to select the reserve URI range and reserve 3045-3046 again.

I'm in Chrome. I've tried a hard refresh at various points as well.

[2018-08-13 14:31] dlschwartz commented on #738
@wsalesky Of course, I just did another hard refresh again after hitting "comment" and now I see that the next available URI is 3047.

[2018-08-13 14:32] wsalesky commented on #738
Can you try  reserving another uri? And see if it works as expected now? You should not actually need to refresh the form at all, it should show up as soon as you hit the save.

[2018-08-13 14:39] dlschwartz commented on #738
@wsalesky It seems fine now. As in the first picture above, when I hit save it showed that the numbers had been reserved. However, when I left and came back it showed that they were available.

Have you ever heard of problems with the cache in Chrome? Sometimes I do a hard refresh and nothing happens. I'll google it. Thanks Winona.

[2018-08-13 14:43] wsalesky commented on #738
I have had occasional problems with Chrome and caching but usually a hard refresh solves the problem.

[2018-08-13 14:49] dlschwartz commented on #738
Thanks Winona. Next time I'm having similar problems I'll try clearing browser data first.

[2018-08-13 14:49] #738 closed

[2018-10-06 12:34] nathangibson opened #739 "Add Arabic identification for al-Harith (http://syriaca.org/person/1015)"
This al-Harith (http://syriaca.org/person/1015) is identified in secondary lit as al-Harith b. Sinan, the Bible translator. We should add this Arabic name and an identity note.
For literature: https://biblia-arabica.com/bibl/browse.html?fq=;fq-Translator:al-%E1%B8%A4%C4%81rith%20b.%20Sin%C4%81n

[2018-11-09 21:53] dlschwartz opened #740 "Author and editor roles"
@nathangibson I'm working on the Syriaca.org ODD at the moment as we try to work up some better documentation. I came across this line of the current ODD (https://github.com/srophe/srophe-eXist-app/blob/master/documentation/syriaca-tei-main.odd#L569) but the URL doesn't work. Has this been moved? Is there some other list?

Do you have any thoughts regarding the question (you?) posed here: https://

[2018-11-13 15:56] nathangibson commented on #740
1. The file exists here: https://github.com/srophe/srophe-eXist-app/blob/master/documentation/author-editor-roles.xml and here: https://github.com/srophe/srophe-eXist-app/blob/master/documentation/author-editor-roles.xml. @wsalesky maybe it is somehow corrupted in eXist?
2. I wonder if we should maybe make the ODD file the place for documenting these roles and get rid of the other XML file. It wou

[2018-11-15 15:35] dlschwartz commented on #740
@nathangibson Thanks for the link.

The goal we are working toward is to have a prose documentation (draft of places here: https://github.com/srophe/srophe-app-data/wiki/TEI-Encoding-Manual-for-The-Syriac-Gazetteer) where the element links link out to html output from the ODD that will produce customized pages for each element like you are used to seeing in the TEI guidelines. These will include c

[2018-11-15 15:40] dlschwartz opened #741 "Indexing for ODD"
As we work on documentation for Srophe and Syriaca.org, we are hoping to make significant improvements to the ODD. One idea I would like to pursue is the production of indexes of Syriaca.org data that can be used in the ODD to validate specific types of data.

The indexing of Syriaca.org data that would allow us to point to a single xml file (rather than rifling through 1000s of separate xml files

[2018-11-15 15:54] dlschwartz commented on #740
@nathangibson Thanks for the links! We're working on these kinds of documentation issues right now. Specifically, we're working toward a documentation that will look a lot like the TEI guideline but specific to Syriaca.org. Here you can see a draft of some developments to a prose documentation for place data: https://github.com/srophe/srophe-app-data/wiki/TEI-Encoding-Manual-for-The-Syriac-Gazette

[2018-11-15 15:54] #740 closed

[2018-11-15 19:05] nathangibson commented on #740
I like it!

[2018-11-27 17:33] davidamichelson opened #742 "Citations on Locations in the Gazetteer"
@davidamichelson Will change the citations for coordinates from GEDSH:

`<location type="gps" source="#bib78-2"><geo>37.15 38.8</geo></location>`

These need to instead cite the process from which the coordinates were derived.

Also the footnote should go on the whole coordinates, not just the longitude

[2018-11-27 17:38] davidamichelson opened #743 "Update citations for GEDSH in all records and point to URIS for GEDSH (perhaps in the bibl record not in the place/person record)"
point to the URIs from the new eGEDSH

[2018-11-27 17:55] davidamichelson opened #744 "Rendering of erroneous name"
http://syriaca.org/place/1471.html
Dan recommends we ask @wsalesky  to make it clearer that the erroneous name has been deprecated. It’s clear in the data by not in the html.

[2018-11-27 18:06] davidamichelson commented on #744
We should change how we mark the name in the TEI as
`<placeName xml:id="name1471-5" xml:lang="en" source="#bib1471-3" type="deprecated">Antaracus</placeName>`

[2018-11-27 18:08] davidamichelson commented on #744
We can ask @michellemtaylor to add this to the documentation as well.

[2018-11-28 17:39] dlschwartz commented on #744
I will add to the schema the requirement of note type="deprecation" whenever there is a placeName type="deprecated", and vice versa.

[2018-12-11 17:39] davidamichelson opened #745 "Add to Documentation"
Please add a note explaining that ``<state type=”existence”>`` is optional

[2018-12-11 17:39] davidamichelson opened #746 "All place records should have state/@type=”existence”"
What about the place Atlantis?
Currently, 2926 out of 2930 places in dev have a <state type=”existence”

[2018-12-11 17:50] davidamichelson opened #747 "Should we stop using “desc” and replace with <note type="description"> in Gazetteer"
Should we stop using “desc” and replace with `<note type="description">` this would allow use of `<p>` etc? But would require changing the Gazetteer. Persons uses `<note type="description">` in this way.

[2018-12-11 18:05] michellemtaylor opened #748 "Fix curly quotes"
@michellemtaylor will fix

[2018-12-19 22:51] #748 closed

[2019-01-15 19:37] davidamichelson opened #749 "Handling of Desc and Note for Abstracts and also the xml-ID"
We should make the following changes to all data:

TEI:desc in Place records, will become a TEI:note @type="description" and if the note is an abstract it will also have @subtype="abstract"

All such notes should have an @xml:Lang attribute with their language.

There should not be more than one abstract per language. Abstract is used to display a short description in search/browse result lists.

[2019-01-17 17:40] dlschwartz commented on #749
@davidamichelson I'm already a bit fuzzy on the details regarding what we decided here. From the perspective of schema writing, I want to make everything consistent across as many modules as possible.

All abstracts will look like this:
`<note type="description" subtype="abstract" xml:id="description##-#" xml:lang="en/syr/etc.">`

Am I right about the following:
A subtype="abstract" can only go on

[2019-01-22 19:25] davidamichelson opened #750 "Update all Place records to reflect new encoding of title=m"
We will delete: titleStmt/title level="m" xml:lang="en">The Syriac Gazetteer</title

and make a new seriesStmt for all place records

this will also need adding to the documentation

[2019-01-22 19:28] davidamichelson opened #751 "Update all place records to contain all TEI:relation elements inside a TEI:listRelation"
This will need a change in the data and update in the documentation.

[2019-01-22 19:53] davidamichelson opened #752 "Update all records that have TEI:editor@role="general-editor""
Update all records that have TEI:editor@role="general-editor" to TEI:editor@role="general"

[2019-01-22 19:54] davidamichelson commented on #752
We will let Nathan know that this affects NHSL records. This change is for consistency since we are already using "general" elsewhere

[2019-01-22 20:11] davidamichelson opened #753 "Change to TEI:editor@role"
In the TEI guidelines the element TEI:editor is much broader in meaning that an editor in the sense used by the Chicago Manual of style. TEI: ```<editor> contains a secondary statement of responsibility for a bibliographic item, for example the name of an individual, institution or organization, (or of several such) acting as editor, compiler, translator, etc. [3.11.2.2 Titles, Authors, and Editor

[2019-01-22 20:11] davidamichelson commented on #753
Note that currently this record: http://wwwb.library.vanderbilt.edu/bibl/648/tei reflects the change we propose to make. It is the only record with this feature. This issue would update all records to match.

[2019-01-22 20:22] davidamichelson opened #754 "langUsage"
This section TEI:profileDesc/langUsage/language is outdated in many files, see http://syriaca.org/person/2000/tei

Following the model of
[code]
We propose to replace the existing lists in each document with:

New:
```<profileDesc><langUsage><p>Languages codes used in this record follow the Syriaca.org guidelines. Documentation available at: <ref target="http://syriaca.org/documentation/langusage.

[2019-01-23 21:55] dlschwartz commented on #753
@nathangibson, I know this is relevant to NHSL. You might also want to weigh in @jedwardwalters. We also discussed changing `<editor role="general-editor"` to `<editor role="general"`.

[2019-01-23 22:13] dlschwartz commented on #753
It looks like I've conflated two issues: #752

[2019-01-24 21:19] jedwardwalters commented on #753
Hi all, this seems fine to me.

[2019-01-29 18:12] #745 closed

[2019-01-29 19:31] davidamichelson opened #755 "Some records, especially persons have mistaken information in cited range"
For example in record: https://github.com/srophe/srophe-app-data/blob/master/data/persons/tei/708.xml

There is:
[code]

[2019-01-29 20:11] davidamichelson opened #756 "http://syriaca.org/person/1409.html has TEI:state inside TEI:state"
FIx this by using precision instead

[2019-01-29 20:24] davidamichelson opened #757 "Change the way we encode contained relationships in Places, perhaps deprecate our use of TEI:location"
[code]

[2019-01-29 20:27] davidamichelson opened #758 "Change this note @type relation to a relation element"
https://github.com/srophe/srophe-app-data/blob/9542c0aac98d46d2977cc7c565b8dd02a56d1158/data/persons/tei/222.xml#L237

[2019-01-29 20:28] davidamichelson opened #759 "Adding @resp for Syriac preferred names"
Prose documentation suggests that all `<placeName>` elements must have either a @source or a @resp

https://github.com/srophe/srophe-app-data/wiki/TEI-Encoding-Manual-for-The-Syriac-Gazetteer#source

However, in many instances (but not all) `<placeName>` elements with @syriaca-tags="#syriaca-headword" do not have either a @source or a @resp.

Example" https://github.com/srophe/srophe-app-data/blob

[2019-01-30 00:33] davidamichelson opened #760 "Cardinality Error in http://syriaca.org/person/1749 ?"
Error report from http://syriaca.org/person/1749

[code]

[2019-01-30 18:04] wsalesky commented on #760
There are two t:ptr in this bibl see:  https://github.com/srophe/srophe-app-data/blob/b7b12eb1ba4a565b85ac3ed7a711e3a137a0c791/data/persons/tei/saints/tei/1749.xml#L460-L462

This is causing the error. @davidamichelson

[2019-01-30 20:34] dlschwartz opened #761 "Syriaca.org editors"
@davidamichelson It seems that all of our records point to [http://syriaca.org/documentation/editors.xml](url) with ref attributes on editor elements. This page does not exist but it would be most helpful if it did.

[2019-01-30 21:12] dlschwartz opened #762 "place types"
@davidamichelson Is [http://syriaca.org/documentation/place-types.html](url) the official list of place types? If we have a tei version of this I would probably want to use it in the schema for validating @type attributes on place elements. If, however, this is the official place where we keep place types I can use the raw version of the html on Github. Thanks.

[2019-02-01 08:42] nathangibson commented on #761
FYI there is a page at http://wwwb.library.vanderbilt.edu/documentation/editors.xml <http://wwwb.library.vanderbilt.edu/documentation/editors.xml>. I suppose it should just be pushed to master?

[2019-02-01 15:37] dlschwartz commented on #761
Thanks @nathangibson. I think pushing it would be fine.

[2019-02-01 15:41] dlschwartz commented on #750
@davidamichelson This requires a few more decisions actually. Line 13-15 in [place/78](https://github.com/srophe/srophe-app-data/blob/master/data/places/tei/78.xml#L13)  actually refer to the series and not directly to the article. Should we duplicate this information both here in the titleStmt and again in the seriesStmt or should we move this from the titleStmt to the seriesStmt. Let me know wha

[2019-02-01 16:00] dlschwartz commented on #750
@davidamichelson Another issue. Here's [place/82](https://github.com/srophe/srophe-app-data/blob/master/data/places/tei/82.xml) on master where there is no issue. Compare [place/82](https://github.com/srophe/srophe-app-data/blob/dev/data/places/tei/82.xml#L76) on dev, the link takes you to the seriesStmt indicating it as part of the Beth Qaṭraye Gazetteer. This file has a title level="m" up in the

[2019-02-01 19:55] dlschwartz commented on #749
@davidamichelson Now I'm really annoyed. It turns out that TEI makes this really difficult. Note and desc elements are handled very differently inside the person and place elements. TEI allows the note element all over the place inside the person element but restricts its location inside the place element. Desc is not allowed anywhere inside person.

As best I can tell, TEI allows a group of eleme

[2019-02-05 19:24] davidamichelson commented on #761
Yes that sounds great!

[2019-02-05 19:33] dlschwartz commented on #749
Dave and I are agreed that this is the proper way to encode abstracts.

[2019-02-19 21:58] dlschwartz commented on #750
@davidamichelson We rushed this discussion and missed some important decisions that need to be made. Below is what we have in the meeting notes.
Title levels

- “a” = title of entry, in <titleStmt> -- must be present
- “s” = title of module, in <seriesStmt> -- must be present
- “m” = title of volume, in <seriesStmt> -- optional

Gazetteer = “s”

- Beth Qaṭraye Gazetteer = “m”

SBD = “s”

- Authors

[2019-03-12 15:34] dlschwartz opened #763 "religious affiliation of diocese"
@davidamichelson I'm not sure who widespread the problem is but I've found an issue with the data that should be addresses. Take a look at [place/2245](http://syriaca.org/place/2245.html). It is as generic as it could be. It's just the diocese associated with Aleppo. However, the source is Wilmshurst. That doesn't necessarily mean that it is Church of the East but I looked it up and that's actuall

[2019-03-19 21:28] dlschwartz commented on #752
@davidamichelson Also, given this issue [https://github.com/srophe/srophe-app-data/issues/750](url) we should only expect editor @role="general" within seriesStmt. General editors apply only to monographic or series titles and not to analytic titles (this from the discussion of [level attributes](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-title.html)).

[2019-03-19 21:30] dlschwartz commented on #752
@davidamichelson Does this change still make it appropriate to have a principle element in the titleStmt? It very well could, we should just think through the issues.

[2019-03-20 21:27] dlschwartz commented on #750
@davidamichelson The issue that won't die! See [person/10 line 136](https://github.com/srophe/srophe-app-data/blob/master/data/persons/tei/10.xml#L136) and also line 145. Am I right that each of these should be a separate seriesStmt with title level="m" and not a biblScope element under the seriesStmt title level="s"?

[2019-03-20 21:41] dlschwartz commented on #750
@davidamichelson Maybe you could look at this before we meet on Tuesday and decide what you want seriesStmt to look like across the board. It will be easy to implement in the ODD once I have a firm target, but for some reason this is an elusive thing to nail down. I'm just playing wack-a-mole here.

My preference is simple to have a titleStmt for each record and give a separate seriesStmt elements

[2019-03-21 15:38] dlschwartz commented on #750
@davidamichelson I'm trying to get sorted on the structure of our data. This pretty much lays out the issues.

Current practice:
- title level="a" -- 'analytic', used for individual records [this is as expected]
- title level="s"
NHSL
Gateway to the Syriac Saints
SBD
Beth Qatraye
- title level="m"
Authors
Qadishe
The Syriac Gazetteer
BHSE
Bible
Scientific and Philosophical Literature

This is what

[2019-03-21 16:09] dlschwartz commented on #761
@davidamichelson @wsalesky Am I right that there should be a page that displays this information: https://github.com/srophe/srophe-eXist-app/blob/master/documentation/editors.xml. At the moment, we have editor and change elements all over our data that point to a url like "http://syriaca.org/documentation/editors.xml#wsalesky" but nothing appears when you put that into a browser.

[2019-03-26 13:35] wsalesky commented on #761
@dlschwartz @davidamichelson Technically these are URIs and do not have to resolve to anything. In practice it would be a good idea to make the XML available at that URL.

[2019-03-26 16:36] davidamichelson commented on #750
How to handle the citation
New script to generate from the seriesStmt
Citation will begin with “a” level title and authors, if “m” level then add that as containing work, if an “s” level series encode from the bibl scope but looking up the editors from the “s”. If no “m” then use title level “s” with editors. In the even of multiple M or S create two citations.

Jeanne-Nicole Saint-Laurent et al.,

[2019-03-26 17:33] dlschwartz commented on #761
@wsalesky I think this is desirable in terms of giving public credit for the work people have done. Can we create a page at http://syriaca.org/documentation/index.html under "Editorial Definitions"? Let's call it "Contributing Editors". It should be based on https://github.com/srophe/srophe-eXist-app/blob/master/documentation/editors.xml. It can literally be as simple as a page with a heading of "

[2019-03-26 19:44] dlschwartz commented on #757
@davidamichelson Just realizing we never settled this. Current schema allows both relation and location. See the discussion from Jan 29 in meeting notes. How do you want to settle this. Two ways to get at contains relationship seems like a bad idea.

[2019-03-26 21:14] wsalesky commented on #761
Okay. It is up: http://syriaca.org/documentation/editors.html

[2019-03-26 21:34] dlschwartz commented on #761
@wsalesky Thanks Winona!

[2019-03-26 21:34] #761 closed

[2019-03-26 22:49] wsalesky commented on #761
@dlschwartz FYI http://syriaca.org/documentation/editors.xml will forward to http://syriaca.org/documentation/editors.html.

[2019-03-27 14:12] dlschwartz commented on #761
Excellent, thanks @wsalesky

[2019-05-03 15:35] dlschwartz opened #764 "Add type="factoid" to div elements in SPEAR"
Also, consider adding a subtype attribute for nameVariant, gender, event, relation, etc.

[2019-05-07 19:10] dlschwartz opened #765 "namespaces on non-TEI attributes"
@davidamichelson @wsalesky Georg Vogeler strongly recommended that we use a syriaca namespace in cases where we've created an attribute in our customization.  Should we change syriaca-computed-start, syriaca-computed-end and syriaca-tags to "syriaca:computed-start", etc. We would also need to declare syriaca as a namespace in all of our documents and update schema and documentation. Thoughts?

[2019-05-20 15:45] davidamichelson commented on #761
I updated this file as part of the patch changes prep.

[2019-05-20 19:00] davidamichelson opened #766 "Changes to note type=”deprecation”"
```<note type=”deprecation”>```
Create @target with a value that concatenates ‘#’ and the substring before ‘-deprecation’ of the current xml:id
Delete the xml:id
Delete any ```<link>``` element that has a type value that includes the string “deprecation”

[2019-05-20 19:00] davidamichelson opened #767 "Changes to langUsage"
[code]

[2019-05-20 19:01] davidamichelson opened #768 "remove xml:id on listPlace/place"
remove xml:id on listPlace/place

[2019-05-20 19:02] davidamichelson opened #769 "On listPlace/place/placeName look for <placeName> lacking a @source or a @ref attribute. Add @resp=“http://syriaca.org”"
On listPlace/place/placeName look for ```<placeName>``` lacking a @source or a @ref attribute.
Add @resp=“http://syriaca.org”

[2019-05-20 19:03] davidamichelson opened #770 "desc"
Current: ```<desc xml:id="abstract-en-78" xml:lang="en">```
Change to: ```<desc type="abstract" xml:id="abstract78-#" xml:lang="en">```
The the schema requires # to be a unique number.
In batch transform we’ll just want them numbered consecutively.
```N.B. the current practice only shows an error on the <place> element [which requires at least one <desc type=”abstract”>. The current [above] does n

[2019-05-20 19:03] davidamichelson opened #771 "event"
place/event must have a @type attribute of value “attestation” or “other”. The attestations are marked.
Check for a @type attribute on ```<event>```, if none exists, add type=“other”.

[2019-05-20 19:05] davidamichelson opened #772 "TEI:note"
If no @xml:lang on place/note add @xml:lang=“en”.

[2019-05-20 19:06] davidamichelson opened #773 "deprecate <relation name="contained"> used for nested locations"
Keep only ```<relation name=“share-a-name”>```
Decide what to do with data in ```<relation name=”contained”> and <relation name=”contains”>.```
Existing <relation> elements nest directly under ```<listPlace>.```
They should be wrapped in a ```<listRelation>``` element.
Current data uses pointer to place @xml:id
```<relation mutual="#place-91”> ```
Change to full place URI for that place

[2019-05-20 19:07] davidamichelson opened #774 "Revise <seriesStmt> in Gazetteer"
In all cases, add ```<seriesStmt>``` between ```<publicationStmt>``` and ```<sourceDesc>```
Current:
[code]
Proposed:
Move all of this to ```<seriesStmt>```
Change title level to  ```<title level="s" xml:lang="en">The Syriac Gazetteer</title>
<seriesStmt>``` on dev
Dev records contain Beth Qatraye data in ```<seriesStmt>``` already
The above needs to be done since all the Gazetteer stuff is still

[2019-05-21 18:33] davidamichelson commented on #773
```<relation name=”contained”> vs. <location type=”nested”>```
We never settled this.
See notes below
See: https://github.com/srophe/srophe-app-data/issues/757
```<relation name=”contains/ed”>``` is used twice in places
```<location type=”nested”>``` is used 1490 times in places
My inclination is to deprecate <relation name=”contained”>
Drop ```<relation name=”contained”>``` in places, in favor of

[2019-05-21 18:35] davidamichelson commented on #773
I will just edit these three records by hand.

[2019-05-21 18:35] davidamichelson commented on #773
Also need to close #757

[2019-09-30 16:37] davidamichelson opened #776 "HTML # anchors in Wiki do not work when transformed to the Server"
The anchors work on the actual wiki page:

https://github.com/srophe/srophe-app-data/wiki#relationships-using-relation

But when they are on the server version of the wiki they no longer work:

http://syriaca.org/documentation/wiki.html?wiki-page=/TEI-Encoding-Manual-for-The-Syriac-Gazetteer&wiki-uri=https://github.com/srophe/srophe-app-data/wiki#relationships-using-relation

Probably because the

[2019-09-30 16:37] davidamichelson commented on #776
Assigning Will to watch

[2019-11-01 18:34] davidamichelson opened #777 "Webhooks for Srophe App Data"
@wsalesky I just tried to upload this file: http://syriaca.org/bibl/WDUISTPU

But it is not appearing. Can you remind me please how to check the status of the webhooks and reset them?

Thanks,
DM

[2019-11-01 20:04] davidamichelson opened #778 "Please write a post-processing script to add Bibls and a @source citation attribute and value"
The script needs to take a table of data and make two insertions into a place record. We are hoping you may have something like this available that you can simply adapt.

Example based on https://divinity-dev.app.vanderbilt.edu/exist/apps/bethqatraye/place/5033/tei

For record 5033, the script needs to examine the TEI:bibl elements at the end of the record. Identify the xml:ID of the last one and

[2019-11-01 20:15] davidamichelson commented on #778
Then once this script is running we will want a similar script that adds a new bibl in the same way and then adds location element and data based on a table.
[code]

[2019-11-01 20:43] davidamichelson opened #779 "Move contents of srophe/util repo to srophe/xqueries repo and delete srophe/util repo"
@wsalesky @nathangibson

Does any one know where the script for merging and deprecating records ended up? :)
See https://github.com/srophe/srophe-app-data/issues/107

We would like to adapt and use it for place records in the BQ Gazetteer.

Thanks,

[2019-11-01 20:46] davidamichelson commented on #778
Arg, sorry this should have gone over here: https://github.com/srophe/bethqatraye-data/issues/1

[2019-11-04 16:10] davidamichelson opened #780 "Webhooks not accepting new files"
See errors from 11/1 and 11/4

[2019-11-04 16:26] wsalesky commented on #780
Fixed.

[2019-11-04 16:26] #780 closed

[2019-11-04 16:32] davidamichelson commented on #779
Looks like it is this: https://github.com/srophe/util

[2019-11-04 16:34] davidamichelson commented on #779
Or here: https://github.com/srophe/srophe-xQueries

[2019-11-04 16:35] davidamichelson commented on #779
@wlpotter Can you copy https://github.com/srophe/util into https://github.com/srophe/srophe-xQueries and delete https://github.com/srophe/util

[2019-11-04 16:37] #777 closed

[2019-11-04 16:43] davidamichelson commented on #778
Decision:
We should write rules for how to use non-Syriaca.org bibls in the schema:
<author>
<title>
<ref target="http://dx.doi.org/10.1163/1573-3912_islam_SIM_2585"/>

[2019-11-04 16:45] davidamichelson opened #781 "Change Schema and Manual for how to add non-Syriaca.org/non-app Bibl URIS"
Example see issue #778

[2019-11-04 16:45] davidamichelson commented on #778
@wsalesky will write the first script the schema part will be split off into a new issue https://github.com/srophe/srophe-app-data/issues/781

[2019-11-04 16:46] davidamichelson commented on #781
@dlschwartz will make a choice in the Bibl to require either a Syriaca.org TEI:ptr or a non-Syriaca.org TEI:ref

[2019-11-04 16:54] dlschwartz commented on #781
![placeSchemaEdits](https://user-images.githubusercontent.com/4984270/68140425-67967d80-fef1-11e9-98d3-d2f274c95014.JPG)

[2019-11-05 15:32] nathangibson commented on #779
Sorry was out of the office. The script is here https://github.com/srophe/srophe-xQueries/blob/master/merge-persons.xql.

[2019-11-05 15:33] nathangibson commented on #779
Deprecating persons is here https://github.com/srophe/srophe-xQueries/blob/master/deprecate-person.xql. (This includes a redirect to a new URI, if relevant. But the merge script I think also includes this functionality.)

[2019-11-06 16:01] wsalesky commented on #778
How is this data going to be added? What form is the input data in? TSV? XML?

[2019-11-06 18:02] davidamichelson commented on #778
@wsalesky Thanks, we have it in TSV right now. We would like to add it to individual TEI xml records using update/insert.

[2019-11-06 18:02] davidamichelson commented on #778
One column would give the URI number for the file that should be changed.

[2019-11-06 18:06] wsalesky commented on #778
Do you have a TSV file I can use to test the script? It is mostly written, I will just need to run it to make sure it works as expected.

[2019-11-06 22:06] wlpotter commented on #778
Here is a link to a TSV of a sample of the data: https://vanderbilt.box.com/s/oz1varune5qm1w8426yzvpiidl66fz9w

[2019-11-08 15:48] wsalesky commented on #778
Here is the first pass at the script.
https://github.com/srophe/util/blob/master/add-bibl.xql

Let me know if there are any issues.

[2019-12-09 20:11] dlschwartz commented on #764
done

[2019-12-09 20:11] #764 closed

[2019-12-09 21:18] dlschwartz opened #783 "Script to add text to relation factoids"
@wsalesky This issue relates to https://github.com/srophe/srophe-eXist-app/issues/1166. I've opened this here because it's a data issue and not an app issue.

Can you please write a script that will take relation factoids (div subtype="relation") and add a human readable version of the information in the relation element? The app is already generating such a sentence but we would like it to be har

[2019-12-11 00:38] wsalesky commented on #783
@dlschwartz How does this look: https://github.com/srophe/srophe-app-data/tree/spearRelations
(Not some names did not resolve, there seems to be no person records for them?). Also now that I think of it, I assumed all relations would involve persNames, if there are any placeNames I would need to do a little rewrite, no big deal, but let me know.

[2019-12-11 16:27] dlschwartz commented on #783
@wsalesky we're looking pretty good. The people without records is a constant problem. This has been pretty frustrating actually. I have a solution in mind. Let's not worry about this in the script though. The other problems I've found are data problems (comma-separated attribute values!). When we use the script, they people should be in SBD. Also, I don't need anything to happen with placeName el

[2019-12-11 17:00] wsalesky commented on #783
@dlschwartz the script is supposed to list the names with an and if there are only two. Can you send me an example so I can use it for testing?

[2019-12-11 17:31] dlschwartz commented on #783
@wsalesky I'm afraid it's the norm actually. When I do a search in Oxygen for " and " restricted to the path //listRelation/relation/desc the only returns I get are the desc elements I hand coded for relationships between event factoids.

Here's an example of one that has two persName elements separated by a comma and not " and "
https://github.com/srophe/srophe-app-data/blob/spearRelations/data/s

[2019-12-11 17:38] wsalesky commented on #783
@dlschwartz Thanks, I will fix it.

[2019-12-11 21:05] wsalesky commented on #783
How does it look now?

[2019-12-12 16:44] dlschwartz commented on #783
@wsalesky We're not getting ", and " between the penultimate and ultimate persName elements when there are three or more.

Here's an example: https://github.com/srophe/srophe-app-data/blob/spearRelations/data/spear/tei/3052.xml#L130.

The following searches get me to the desc elements with the problem: \s.+\s restricted to //listRelation/relation/@mutual, //listRelation/relation/@active, and //lis

[2019-12-12 17:17] dlschwartz commented on #783
@wsalesky I made the changes in the [spreadsheet](https://docs.google.com/spreadsheets/d/1aDICk8lrQ7cospr2yVlMYLXavMbaTDxbgr1GDrqfWDw/edit?pli=1#gid=0). Where possible I produced a sentence that would work regardless of the numbers of people, those are marked in yellow. Those marked in blue would change depending upon whether the @active or @passive has one or multiple values. Thanks Winona.

[2019-12-13 13:33] wsalesky commented on #783
@dlschwartz See updates.

[2019-12-13 16:26] dlschwartz commented on #783
@wsalesky This is looking pretty good. I only found one issue. With "syriaca:EpistolaryReferenceTo" it looks like the @active values are applied both before and after the text and the @passive values don't appear. Once that's sorted I think we're in good shape and we can push these to dev. Thanks Winona!

[2019-12-13 16:46] dlschwartz commented on #783
@wsalesky This is looking pretty good. I only found one issue. With "syriaca:EpistolaryReferenceTo" it looks like the @active values are applied both before and after the text and the @passive values don't appear. Once that's sorted I think we're in good shape and we can push these to dev. Thanks Winona!

[2019-12-16 19:00] davidamichelson opened #784 "Change to Geography Schema for Use of Title in Note"
We would like to be able to use TEI:title inside TEI:note in a way that is similar to how we are using it here inside event: https://github.com/srophe/srophe-app-data/wiki/TEI-Encoding-Manual-for-The-Syriac-Gazetteer#attestations-using-event-optional

[2019-12-16 19:20] #784 closed

[2019-12-28 18:08] dlschwartz commented on #783
@wsalesky did we ever fix this? I suppose we should before we push this data to the dev branch. Also, could you run this same script on a branch of draft data? It would be the files in [this folder](https://github.com/srophe/draft-data/tree/master/data/spear/SPEARDocsToEdit) and the two folder contained here as well. Thanks Winona!

[2020-01-03 14:34] wsalesky commented on #783
@dlschwartz Yes we fixed this. Can I push this to dev today?

[2020-01-03 14:54] wsalesky commented on #783
Also I have updated the data in draft data (on a new branch called spearRelations)

[2020-01-03 15:15] wsalesky commented on #783
@dlschwartz I updated the data and the code. It looks like there still needs to be some cleanup. For example: http://wwwb.library.vanderbilt.edu/exist/apps/srophe/spear/factoid.html?id=http://syriaca.org/spear/8559-554

I think this one had a tei:desc already, so the script just added an additional description, and left the existing. I can have it check for existing tei:desc and replace them, or w

[2020-01-03 17:58] dlschwartz commented on #783
@wsalesky this is fine. I had planned to do the events by hand so I had already done those. There aren't that many of them and they're all in one file. I've fixed this manually. Are the webhooks running? If not, can you refresh this. I think we can close this issue. Thanks Winona.

[2020-01-03 18:12] dlschwartz commented on #783
@wsalesky I've merged the spearRelations into master on draft data as well. Thanks!

[2020-01-05 15:44] wsalesky commented on #783
Webhooks are running. Do you not see your changes?

[2020-01-06 16:47] dlschwartz commented on #783
@wsalesky Things are looking good. Thank you. I'll close this issue.

[2020-01-06 16:47] #783 closed

[2020-02-10 16:44] dlschwartz opened #788 "Index of person and place URIs"
@wsalesky can you please write an xQuery to create an xml file with all person URIs and another with all place URIs. Thanks.

[2020-02-10 17:02] davidamichelson opened #789 "Moving all records from DEV to production"
The purpose of this change is to allow all records to be accessible from the production server for use in API and linked data by other applications (SPEAR, CNRS Pinakes).

@wlpotter will do the following

Step 1: Identify all all new records that exist only on the dev branch and move them to a new "uncorrected-drafts" branch.
Step 2: Mark these as revisionDesc status="uncorrected-draft"
Step 3: Me

[2020-02-10 20:56] wlpotter commented on #789
Branch has been created: https://github.com/srophe/srophe-app-data/tree/uncorrected-drafts

I will populate this repository with the records that exist on the dev branch but not on the master branch.

[2020-02-10 21:53] wlpotter commented on #789
I have changed the `tei:revisionDesc/@status` to "uncorrected-draft" for all of the new records to push to production. @davidamichelson @dlschwartz Just want to clarify which modules' new data we are pushing to production. Persons, Places, Works, and BIbls of course. What about Manuscripts, SPEAR, and Subjects?

There are a few other notes that may need to turn into their own issues:

1. For perso

[2020-02-10 22:14] wsalesky commented on #788
@dlschwartz can you remind me where the XSLT you created lives? I want to make sure I get the write data output.

[2020-02-10 22:23] dlschwartz commented on #788
@wsalesky the xslt and xml output are the taxonomyIndex files here: https://github.com/srophe/srophe-app-data/tree/dev/data/subjects. The output for what I have in mind would even be simpler. An xml file with a root listPerson element containing a person element for each person in SBD with @ref attributes containing the URIs. That ought to do it. (I tried to do basically the same thing I've done w

[2020-02-13 17:48] wsalesky commented on #788
Hi Dan,
Here you go:

Persons:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/documentation/indexes/persons.xml

Places:
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/documentation/indexes/places.xml

To run it you would need to run this script (with admin login):
http://wwwb.library.vanderbilt.edu/exist/apps/srophe/modules/build-index.xql?action=create&content=persons

[2020-02-13 19:47] dlschwartz commented on #788
@wsalesky thanks so much. This will be very helpful.

[2020-02-13 19:47] #788 closed

[2020-02-13 22:52] wsalesky commented on #788
Great!

[2020-02-14 16:59] wsalesky commented on #776
@wsalesky Note to self the wiki does not use standard anchors.
See:
`<a id="user-content-relationships-using-relation" class="anchor" href="#relationships-using-relation" aria-hidden="true">`

Can probably be solved with a little JavaScript.

[2020-02-14 17:14] #760 closed

[2020-02-14 17:23] wsalesky commented on #728
@dlschwartz closing as a stale issue. Reopen if you need any edits.

[2020-02-14 17:23] #728 closed

[2020-02-14 21:46] wlpotter commented on #789
@dlschwartz We decided not to push manuscripts to production. Do we want to move SPEAR or Subjects to production at this time?

@wsalesky once we decide on the SPEAR and Subjects data we should be ready to move the data that's on [this branch](https://github.com/srophe/srophe-app-data/tree/uncorrected-drafts) to the production server. What is the process for this move?

[2020-02-14 22:01] wsalesky commented on #789
@wlpotter I will probably need to build and deploy the data .xar package for eXist as there will be too many files for the webhooks to handle.

[2020-02-19 17:50] davidamichelson commented on #789
@wsalesky Could we check in with you tomorrow AM briefly on this? Thanks!

[2020-02-19 17:57] wsalesky commented on #789
@davidamichelson Yes, just let me know what time.

[2020-02-21 16:32] wsalesky commented on #731
stale issue

[2020-02-21 16:32] #731 closed

[2020-02-21 16:33] wsalesky commented on #730
@dlschwartz I think this can be closed?

[2020-02-21 16:35] wsalesky commented on #684
stale issue

[2020-02-21 16:35] #684 closed

[2020-04-16 14:45] wlpotter commented on #781
@davidamichelson I was looking to send a few examples from the BQ Gazetteer that have both Syriaca and external bibl references for this issue, but it looks like somehow the new method for non-Syriaca references has disappeared.

Here are some example records:
https://bqgazetteer.bethmardutho.org/place/5539
https://bqgazetteer.bethmardutho.org/place/5006

Both types of references have a tei:ptr wi

[2020-05-08 17:11] dlschwartz opened #792 "Change unit="maps" to unit="map""
Change unit="maps" to unit="map"

[2020-05-11 17:43] wlpotter commented on #781
@dlschwartz here are examples for this issue.

Compare the first and second bibl elements here: https://github.com/srophe/bethqatraye-data/blob/master/data/places/tei/5006.xml#L95-L105

Note that the former, a source with a syriaca.org bibl, has a tei:ptr element while the latter, a non-syriaca source, has a tei:ref element.

For another example, see https://github.com/srophe/bethqatraye-data/blob

[2020-05-11 18:53] dlschwartz commented on #781
@wlpotter @davidamichelson I don't remember a discussion on this issue. Are we sure we want to use two different elements to point?

See https://github.com/srophe/draft-data/blob/master/data/schemaPlaceDraftData/syriacaPlacesTEI.odd#L2119. What I've done there is tested for a syriaca.org URI but made the schematron rule a warning. In oXygen that means that you don't get a red box when there is som

[2020-05-11 19:10] dlschwartz commented on #781
@wlpotter @davidamichelson One more thing, I suppose that if non-Syriaca.org URIs will be relatively rare, then what I have done is probably good. If it will be relatively common I suppose we should make the change.

[2020-05-12 21:14] davidamichelson opened #793 "Change "http://syriaca.org/editors.xml#..." to "http://syriaca.org/documentation/editors.xml#...""
In many places we have @ref="http://syriaca.org/editors.xml#..." where we should have @ref="http://syriaca.org/documentation/editors.xml#..."

[2020-05-12 21:15] davidamichelson opened #794 "deprecate <principal> throughout all Syriaca.org data"
```<principal>``` is no longer used

[2020-05-12 21:17] davidamichelson commented on #774
The notes above are now obsolete since BGQ stands alone.

[2020-05-12 21:24] davidamichelson commented on #774
@dlschwartz I think in the end we decided without you (sorry!)that perhaps we would no longer use seriesStmt in this way. Can you let us know what the schema is expecting please? See https://github.com/srophe/bethqatraye-data/issues/69#issuecomment-584381939

Don't make any schema changes yet, let's discuss :)

[2020-05-12 21:39] davidamichelson commented on #766
@dlschwartz We might need a refresher on this one. Is this what we want?

Current:
[code]
Change:
[code]

[2020-05-12 21:39] davidamichelson commented on #766
In other words our goal was to simplify?

[2020-05-12 21:40] davidamichelson commented on #765
Yes we want to do this.

[2020-05-12 21:40] #757 closed

[2020-05-12 21:49] wlpotter commented on #765
FYI, For BQG we updated this to a srophe namespace (see https://github.com/srophe/bethqatraye-data/issues/40). For example, the `@srophe:tags="#headword"` attribute here: https://github.com/srophe/bethqatraye-data/blob/master/data/places/tei/105.xml#L113.

We declared this namespace on the root element of these records as follows, `xmlns:srophe="https://srophe.app"`.

[2020-05-13 14:45] wlpotter commented on #766
First pass at this script is here: https://github.com/wlpotter/miscellaneous-util-scripts/blob/master/Syriaca-Places-Schema-Testing-Util/update-deprecation-note-links.xql

[2020-05-13 18:18] wlpotter commented on #781
Decision: Syriaca and non-Syriaca bibl URIs will, for the Beth Qatraye Gazetteer, be encoded in both cases as `tei:ptr/@target` attribute values. The schematron rule will remain in place to remind encoders that, in most cases, the attribute value _should_ be a Syriaca.org URI, but the schema will not at this time require one.

@dlschwartz @davidamichelson please add to this if I have left anything

[2020-05-13 21:29] wlpotter opened #795 "allow @subtype="representative" on tei:location elements"
See https://github.com/srophe/bethqatraye-data/issues/74

this change may already have been made, but opening an issue just to confirm. Close if this is the case.

Cf. [this commit](https://github.com/srophe/draft-data/commit/aa2b9658551f5a152c02d1cbddb3480d726ee6b3), which likely included this change.

[2020-05-13 21:30] wlpotter opened #796 "allow "vol" as a value for the @unit attribute on tei:citedRange elements"
See https://github.com/srophe/bethqatraye-data/issues/78

[2020-05-13 21:32] wlpotter opened #797 "allow values "contributing" and "technical" for the @role attribute on tei:editor elements"
See https://github.com/srophe/bethqatraye-data/issues/79

I believe we are making this a syriaca-wide schema update, but we should discuss to make sure that is how we want to handle these attribute values.

[2020-05-13 21:33] wlpotter opened #798 "allow a tei:choice element within a tei:quote element"
See https://github.com/srophe/bethqatraye-data/issues/80

[2020-05-13 21:35] wlpotter opened #799 "allow values "valley" and "cemetery" for @type attribute on tei:place elements"
See https://github.com/srophe/bethqatraye-data/issues/82

Cf. https://github.com/srophe/bethqatraye-data/issues/26 on adding these place types to http://syriaca.org/documentation/place-types.xml

[2020-05-14 14:13] wlpotter commented on #794
Xpath: /TEI/teiHeader/fileDesc/titleStmt

Find regex: " <principal>.+?</principal>"
Replace regex: ""

[2020-05-14 14:16] wlpotter commented on #793
Xpath: /*

Find regex: `ref="http://syriaca.org/editors.xml#`
Replace regex: ` ref="http://syriaca.org/documentation/editors.xml#`

[2020-05-14 14:17] wlpotter commented on #792
Xpath: /TEI/text/body/listPlace/place/bibl/citedRange

Find regex: `unit="maps"`
Replace regex: `unit="map"`

[2020-05-14 14:33] wlpotter commented on #772
Xpath: `/TEI/text/body/listPlace/place/note[not(@xml:lang)]`

Find regex: `<note`
Replace regex: `<note xml:lang="en"`

[2020-05-14 14:36] wlpotter commented on #771
XPath `/TEI/text/body/listPlace/place/event[not(@type)]`

Find regex: `<event`
Replace regex `<event type="other"`

[2020-05-14 16:23] wlpotter commented on #769
Xpath: /TEI/text/body/listPlace/place/placeName[not(@source) and not(@ref)]

Find regex: `<placeName`
Replace regex: `<placeName resp="http://syriaca.org"`

[2020-05-14 19:58] davidamichelson commented on #793
Not in data. Was already corrected in an unknown commit.

[2020-05-14 19:58] #793 closed

[2020-05-14 20:08] wlpotter commented on #794
Fixed

[2020-05-14 20:25] #792 closed

[2020-05-14 20:29] wlpotter commented on #772
re-opening to run on all data, not just places

[2020-05-14 20:29] wlpotter commented on #794
re-open to run on all data

[2020-05-14 20:34] #771 closed

[2020-05-14 20:37] wlpotter commented on #768
Xpath: /TEI/text/body/listPlace/place

Find regex: `xml:id="Place-\d+?"`
Replace regex: ""

[2020-05-14 20:43] wlpotter commented on #767
It might be easiest to write a simple update script that replaces the `<langUsage>` element of every record with the above contents rather than trying to write a find-and-replace

[2020-05-14 20:48] davidamichelson opened #801 "On listPerson/person/persnameName look for <persName> lacking a @source or a @ref attribute. Add @resp=“http://syriaca.org”"

[2020-05-14 20:49] #769 closed

[2020-05-14 20:50] wlpotter commented on #767
This script should do it, though i have been unable to test it yet: https://github.com/wlpotter/miscellaneous-util-scripts/blob/master/Syriaca-Places-Schema-Testing-Util/update-langUsage.xql

[2020-05-14 20:52] #768 closed

[2020-05-14 20:57] #794 closed

[2020-05-14 21:20] wlpotter opened #802 "all <relation> elements should nest in a <listRelation> element"
This issue has been split off from #773

nest all tei:relation elements within a tei:listRelation

[2020-05-14 21:27] wlpotter commented on #772
Need to re-run this with the right xpath

[2020-05-14 21:38] davidamichelson opened #803 "Visualize date attributes on Location and child elements of Location"
Related to #773

@wsalesky We would like to be able to put date range attributes (from the att.datable and related attribute classes, see below) on the "Geo-political Place Names" elements in the TEI (https://tei-c.org/release/doc/tei-p5-doc/en/html/ND.html#NDPLGU).

An example from syriaca.org/place/78.html is: to="0641" This should visualize similar to how it does with relation:

**Location (to

[2020-05-14 21:41] davidamichelson opened #804 "Allow date attributes on Location and child elements of Location"
See issues #773 and #803

Do we already allow this in the schema?

@dlschwartz we would like to allow att.datable and its cousins on Location and child elements of Location.

att.datable (@Calendar, @period)
att.datable.w3c (@when, @notBefore, @notAfter, @from, @to)
att.datable.iso (@when-iso, @notBefore-iso, @notAfter-iso, @from-iso, @to-iso)
att.datable.custom (@when-custom, @notBefore-custom, @

[2020-05-14 21:42] davidamichelson commented on #803
And maybe this works out of the box, will test shortly.

[2020-05-14 21:43] davidamichelson opened #805 "Need to change how the TEI Geo-Political Names Elements display"
Related to #803

The TEI terms are too modern (e.g. Roman Empire is a "country").

Can we substitute pleiades terms in the HTML?

See list at  https://tei-c.org/release/doc/tei-p5-doc/en/html/ND.html#NDPLGU

[2020-05-14 21:44] wlpotter commented on #767
Note to self, this is a data-wide change

[2020-05-14 21:47] wlpotter commented on #766
note to self: run on place data for now; may adapt script later to run data-wide

[2020-05-14 22:04] davidamichelson opened #806 "All place/relation need to be rapped in place/listRelation/relation"
Separated out from #773
@wlpotter can we do this by script?

[2020-05-14 22:08] davidamichelson opened #807 "relation elements in places use internal XML ID refs, they should be changed to Syriaca.org URIs"
Related to #773

Should be an easy regex.

Current data uses pointer to place @xml:id
<relation mutual="#place-91”>
Change to full place URI for that place

example:
Current:
[code]
New:
[code]
Does the Schema expect this?

[2020-05-14 22:08] davidamichelson commented on #773
Two things remain in this issue:

They should be wrapped in a <listRelation> element. (#806)

Current data uses pointer to place @xml:id (#807)
<relation mutual="#place-91”>
Change to full place URI for that place

[2020-05-15 14:52] wlpotter commented on #772
This is now, finally, fixed.

[2020-05-15 14:52] #772 closed

[2020-05-15 14:53] wlpotter commented on #802
Note to self: This will be a data-wide change but the script/find-and-replace may need to be tweaked based on the data module since the xpath to the tei:relation will vary

[2020-05-15 15:09] wlpotter commented on #767
@davidamichelson question on this: it looks like bibl records don't have a profileDesc. Is the desired outcome or should we add a profileDesc/langUsage for bibl records as well?

[2020-05-15 15:20] wlpotter commented on #767
No need to add profileDesc to bibl records at this time

[2020-05-15 15:30] #806 closed

[2020-05-15 15:31] wlpotter commented on #802
Fix in places first.

Check to make sure this is not an issue in works.

[2020-05-15 15:32] davidamichelson commented on #807
@wlpotter Please investigate if this applies to persons, works, etc.

[2020-05-15 15:45] davidamichelson opened #808 "In Persons: relation ref="syriaca:differentFrom""
@dlschwartz in Persons we have: relation ref="syriaca:differentFrom"

Please don't add this to the schema yet. Let's discuss. Just making an issue because it is a Person's schema change or fix.

[code]

[2020-05-15 16:28] #767 closed

[2020-05-15 18:10] wlpotter commented on #766
Before I make this change, I wanted to clarify that the output is right.

See the comment [above](https://github.com/srophe/srophe-app-data/issues/766#issuecomment-627612608). Did we decide that this is the change we want to make?

[2020-05-15 18:16] wlpotter commented on #807
This is the case, at least in persons. Works are using the current practice (i.e., the values of `@active`, `@passive`, and `@mutual` are all full URIs).

[2020-05-15 18:24] wlpotter opened #809 "relation elements in persons use internal XML ID refs, they should be changed to Syriaca.org URIs"
This is the same change as #807 but for person records. I am not sure if this is a module-wide update or if there are only a few records that require the below change:

Current data uses pointer to person `@xml:id`
`<relation mutual="#person-91">`
Change to full person URI for that person

example:
Current:
[code]
New:
[code]

The updates to the schema for #807 should be made, as well, for person

[2020-05-15 18:25] wlpotter commented on #807
Persons issue split out into #809. This has been fixed for place data

[2020-05-15 18:25] wlpotter commented on #807
Sorry, shouldn't have closed this without confirming that the schema and documentation have been updated...

[2020-05-15 18:29] wlpotter commented on #802
Note to self: This is an issue specific to place records.

[2020-05-15 18:40] dlschwartz commented on #804
@davidamichelson @wlpotter TEI P5 All already assigns `<bloc>`, `<country>`, `<district>`, `<offset>`, `<placeName>`, `<region>`,  and `<settlement>` to all of the datable attribute classes.

What remains in our current schema as acceptable children of location are `<geo>` and `<measure>`. We could customize these and/or request changes to the TEI. There are certainly cases where changes over time

[2020-05-15 18:48] wlpotter opened #810 "Illegal state exception on persons, places, and works"
I am getting an `illegal state exception -- cannot validate without schema` error on person, place, and work records.

here is the current processing-instruction:
[code]

Note that bibl records don't have a processing-instruction associating a schema (which may be a separate issue), so they do not throw this error.

Do we need to update the processing instruction for these records as part of batch

[2020-05-15 18:49] #802 closed

[2020-05-15 18:52] dlschwartz commented on #799
https://github.com/srophe/draft-data/commit/00483b292794126e736387e622c170fc8eac71f5

[2020-05-15 18:52] #799 closed

[2020-05-15 19:04] dlschwartz commented on #810
@wlpotter there's no file at that location. I'm not sure how that association came about. I'd be interested to check out when that association appeared in the change log. Try this: https://raw.githubusercontent.com/srophe/srophe-eXist-app/master/documentation/syriaca-tei-main.rnc.

[2020-05-15 19:27] wlpotter commented on #810
Note to self: this is also a change that should be made in manuscript records

[2020-05-15 20:03] dlschwartz commented on #766
@wlpotter @davidamichelson yes, I believe this is a more streamlined way to handle deprecation.

[2020-05-15 20:45] dlschwartz commented on #797
@wlpotter I agree, let's confirm. Syriaca-wide sounds right to me but @davidamichelson should confirm.

[2020-05-15 21:16] dlschwartz commented on #781
This is a good summary of what we decided.

[2020-05-15 21:16] #781 closed

[2020-05-15 21:24] dlschwartz commented on #807
The schema should require a Syriaca.org URI. Please let me know if that is not the case.

[2020-05-15 21:30] dlschwartz commented on #798
This commit (https://github.com/srophe/draft-data/commit/5c1cc9043e73475366a168398de275d85472214b) adds choice, abbr, sic, corr, reg, orig, and expand to the place schema. Please test and if it is working correctly close this issue and https://github.com/srophe/bethqatraye-data/issues/80.

[2020-05-15 21:31] dlschwartz commented on #796
https://github.com/srophe/draft-data/commit/f21cb2bcdbe25b962b5e5a82188113e9f8526626

[2020-05-15 21:32] dlschwartz commented on #795
@wlpotter this should work properly. Is this still an issue?

[2020-05-18 14:24] wlpotter commented on #766
This has been fixed for place data.

[2020-05-18 14:55] davidamichelson commented on #804
@davidamichelson will add to the documentation that each location element is based on a separate source. So use multiple location based on @source, as a default the @source and @datable should go on the TEI:location

[2020-05-18 15:11] davidamichelson commented on #805
Handle in TEI textnode and mention in documenation.

[2020-05-18 15:17] davidamichelson commented on #774
Revision and clarification, keep Syriac Gazetteeer in Series Stmt and we do require it to be present.

[2020-05-18 16:12] wlpotter commented on #798
This works, thanks! I've closed https://github.com/srophe/bethqatraye-data/issues/80 as well.

[2020-05-18 16:12] #798 closed

[2020-05-18 16:19] dlschwartz commented on #804
@wlpotter @davidamichelson feel free to correct me if what I've written up here misses any of what we discussed.

We want dates to appear on `<location>` but not on its children.

The following elements appear in our data only as children of `<location>`: `<bloc>`, `<country>`, `<district>`, `<offset>`, `<region>`, and `<settlement>`. Since we don't use them elsewhere, I will remove all of these e

[2020-05-18 17:12] wlpotter commented on #810
Updated in persons, places, and works. Leaving this open to remind myself to make this change in mss.

[2020-05-18 17:22] wlpotter opened #811 "schema requiring @ref attribute on tei:relation"
The schema is requiring a `@ref` attribute on tei:relation elements that have a `@name` attribute.

But [this line](https://github.com/srophe/srophe-eXist-app/blob/master/documentation/syriaca-tei-main.rnc#L5572-L5575) in the schema seems like it would allow this situation where a tei:relation has a `@name` but not a `@ref` attribute.

Perhaps there is something I'm missing?

[2020-05-18 17:23] wlpotter commented on #807
It doesn't seem like the schema is catching if a tei:relation contains "#place-\d+", referencing the `tei:place/@xml:id` rather than "http://syriaca.org/place/\d+", i.e. the doc URI.

[2020-05-18 17:24] #804 closed

[2020-05-18 17:42] wlpotter commented on #770
@davidamichelson @wsalesky I think I misunderstood what made this issue seem difficult. It looks like it is tricky to have the schema test for this, but the actual change needed isn't that complicated.

For places, at least, no record has more than one tei:desc that has an `@xml:id` attribute whose value matches the regex "abstract-en-\d+", so I think I can do this with a simple find-and-replace r

[2020-05-18 17:50] dlschwartz commented on #811
@wlpotter @davidamichelson This works when associating place records with the customized place schema: https://github.com/srophe/draft-data/blob/master/data/schemaPlaceDraftData/out/syriacaPlacesTEI.rng.

It does not work on the syriaca-tei-main schema: https://github.com/srophe/srophe-eXist-app/blob/master/documentation/syriaca-tei-main.rnc.

No work has been done on the latter schema in over two

[2020-05-18 17:59] dlschwartz commented on #807
@wlpotter @davidamichelson see this comment on issue https://github.com/srophe/srophe-app-data/issues/811#issuecomment-630339777.

Maybe that solves the issue. If not, can you give me a link to the line of the TEI on GitHub that validates when it shouldn't. That would help me troubleshoot the issue. Thanks.

[2020-05-18 17:59] wlpotter commented on #811
Apologies for my confusion; I see the distinction now. Validating with the customized place schema does not throw this error.

[2020-05-18 18:00] dlschwartz commented on #811
Excellent!

[2020-05-18 18:01] #811 closed

[2020-05-18 18:02] wlpotter commented on #807
Thanks, again for the clarification on the two schemas...I tested this issue with the place schema as well and it still lets the error through.

Here is the line in the XML: https://github.com/srophe/srophe-app-data/blob/2019-May-Batch-Changes/data/places/tei/10.xml#L177
Note that for testing purposes I changed the mutual value to
`"#place-10 http://syriaca.org/place/995"`

[2020-05-18 18:05] dlschwartz commented on #770
@wlpotter See this constraintSpec: https://github.com/srophe/draft-data/blob/master/data/schemaPlaceDraftData/syriacaPlacesTEI.odd#L1899. It lays out the rules for the xml:id on the abstract. Let me know if you have any questions or if something isn't working correctly.

[2020-05-18 18:21] dlschwartz commented on #807
@wlpotter that file has the syriaca-tei-main schema associated with it. When I switched schemas I got the following errors and messages.

With `#place-10`
![relation01](https://user-images.githubusercontent.com/4984270/82246124-be055f80-9909-11ea-8f66-32ad7c8d866b.png)

With `#place-995` just to compare error messages
![relation02](https://user-images.githubusercontent.com/4984270/82246139-c198e68

[2020-05-19 14:31] wlpotter commented on #807
Ah! I figured out what I was doing wrong....I didn't include the schematron rules. I was only associating the file as a `type="application/relax-ng-syntax"` but left out the `type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"` processing instruction...

The schema is functioning correctly; leaving this open and assigning to @davidamichelson to update the documentation.

[2020-05-19 14:34] wlpotter commented on #770
@dlschwartz the schema is working correctly here. This issue should be fixed.

[2020-05-19 14:45] wlpotter commented on #796
This is working, thanks!

[2020-05-19 14:45] #796 closed

[2020-05-19 14:48] wlpotter commented on #795
This is working, thanks!

[2020-05-19 14:48] #795 closed

[2020-05-19 14:53] dlschwartz commented on #807
@wlpotter very good. I hadn't thought of that problem.

[2020-05-19 15:22] wlpotter commented on #765
I have added the srophe namespace to the root element and changed `@syriaca-tags` to `@srophe:tags`.

We still need to change:
- syriaca-computed-start
- syriaca-computed-end

What should these be changed to? `srophe:computed-start` and `srophe:computed-end`?

[2020-05-19 15:44] #770 closed

[2020-05-19 15:47] davidamichelson commented on #765
Need to add
    srophe-computed-start
    srophe-computed-end
to the documentation

[2020-05-19 15:54] davidamichelson commented on #774
Will be a revision of:

[code]

[2020-05-19 15:55] davidamichelson commented on #773
Need to change records 78 and 602 to conform to issue #804

[2020-05-19 15:57] davidamichelson commented on #774
add Dan as technical editor and add editor types to documentation.

[2020-05-19 16:20] wlpotter commented on #765
The data in places has been updated; leaving open until documentation change has been made.

[2020-05-19 18:25] #807 closed

[2020-05-19 20:44] davidamichelson opened #812 "Update Place Types and Crosswalk them with Pleiades and Getty"
Finally, it should also be noted that the element names provided by the TEI guidelines may not always match the geo-political terminology as used in the field of Syriac Studies and thus some translation is required for encoding into TEI XML. For example, there is a <district> element in TEI, but this element is defined by the TEI guidelines as a portion of a city, i.e. contained by a settlement. I

[2020-05-19 20:46] davidamichelson opened #813 "Can the schema require a certain order of child elements in location/@type="nested""
In the TEI P5 Guidelines, section [13.2.3.1](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ND.html#NDPLGU) provides a hierarchy of generic element names for Geo-political Place Names which can be used to describe a location in terms of its context in "geo-political or administrative units". The Syriac Gazetteer adds an @type="nested" annotation to the location when using these element names

[2020-05-19 20:51] davidamichelson commented on #813
@dlschwartz So the TEI encourages (but does not require) that the order of the containing place elements to proceed from smallest to largest in document order, i.e. "arranged in ascending sequence according to their size or administrative importance" (https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ND.html#NDPLGU)

(I don't think it is enforced in the TEI P5 all schema because the Guidelines

[2020-05-19 21:29] dlschwartz commented on #774
@davidamichelson @wlpotter point of clarification on SeriesStmt in places. We plan no sub-series for places. In persons, SBD will take a `<title level="s">` while the sub-series Saints will take a `<title level="m">`. If there is no corresponding `<title level="m">` for a sub-series in places, what title level do we assign to the Gazetteer? Does it get a `<title level="m">` because it is monograph

[2020-05-19 21:33] davidamichelson opened #814 "New Headers from Syriac World Places"
https://github.com/wlpotter/miscellaneous-util-scripts/tree/master/Syriac-World-Maps-Util/newPlacesOutput https://github.com/wlpotter/miscellaneous-util-scripts/blob/master/Syriac-World-Maps-Util/toTeiData/projectConfig.xml 

[2020-05-19 21:52] davidamichelson commented on #813
@dlschwartz Okay I tested this against the current schema and it already does what I am asking for! Thanks!

[2020-05-19 21:52] #813 closed

[2020-05-19 21:53] #805 closed

[2020-05-19 22:01] dlschwartz commented on #797
@davidamichelson @wlpotter we have three instances of `<editor role="contributor">`. Do you want to change those to "contributing" and use that from here on out or do you just want to use the current "contributor"?

[2020-05-19 22:48] davidamichelson opened #815 "Empty line before editors in header"
@wlpotter Looks like the script that deleted principle for issue https://github.com/srophe/srophe-app-data/issues/794 left a blank line: https://github.com/srophe/srophe-app-data/blame/4b5765cf2b2dbd90ceeb868adc5b2264f72b62db/data/places/tei/78.xml#L12

Can you please find and delete?

[2020-05-19 22:52] davidamichelson commented on #773
Done

[2020-05-19 22:52] #773 closed

[2020-05-20 14:19] dlschwartz commented on #788
@wsalesky are these files available on GitHub? I can't seem to find them. I might be able to have a schema validate against these pages but I'm not sure about that. Also, it wouldn't work if the server went down. Normally I validate against a raw GitHub page. Thanks.

[2020-05-20 14:22] wsalesky commented on #788
I will add them.

[2020-05-20 14:23] dlschwartz commented on #788
Great thanks!

[2020-05-20 15:11] dlschwartz commented on #797
FYI, see our discussion [here](http://syriaca.org/documentation/author-editor-roles.xml) regarding the use of "contributor." It looks like it comes from dct:contributor.

[2020-05-20 15:52] davidamichelson commented on #774
@dlschwartz I think that the module level should always be the "s" level even if there is no "m" because their could be an "m" later.

FYI, there can also be multiple "s" thanks to your lobbying, right? So "Gateway to the Syriac Saints" would be an "s", right?

[2020-05-20 18:34] wlpotter commented on #815
This find and replace regex should work: `\n\s*\n` -> `\n`

[2020-05-20 19:18] dlschwartz commented on #774
@davidamichelson the customization we have at the moment allows us to model [this diagram](https://docs.google.com/drawings/d/1k9i-eFNtyA4B92aZZuHo3bbv1FQdH1MzGglr1FUKZEA/edit) with multiple seriesStmt elements. The middle row will be `<title level="s">` and the bottom row will be `<title level="m">`

[2020-05-20 19:27] davidamichelson commented on #765
@dlschwartz  Would you look this over please and let me know if what I say matches the schema. Also see a couple of questions below.

## Namespace Declaration of Srophé App Attributes
_The Syriac Gazetteer_ is deployed using a customization of the Srophé App (https://srophe.app). The Srophé App includes a few modifications of the TEI schema to create new attributes specific to the domains of digit

[2020-05-20 20:00] davidamichelson commented on #765
Please also check this:

### `<classDesc>`
The class declaration contains one or more taxonomies defining any classificatory codes used elsewhere in the text. There are various @srophe:tags values which Syriaca.org uses to mark elements for a variety of purposes.   Syriaca.org’s preferred name forms are tagged with "syriaca-headword", for example.  These tags are represented by `<category>` elemen

[2020-05-20 20:01] davidamichelson commented on #765
Also do we use all of these namespaces:

xmlns="http://www.tei-c.org/ns/1.0"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:svg="http://www.w3.org/2000/svg"
	xmlns:math="http://www.w3.org/1998/Math/MathML"
	xmlns:srophe="https://srophe.app"

[2020-05-20 20:04] davidamichelson opened #816 "@srophe:tags="#syriaca-headword" can we require one with xml:lang="en""
@dlschwartz Can we do either of these with a schema?

- [ ] Require that there be an English headword (i.e.  one and only one `<placeName>` element with the combination of @srophe:tags="#syriaca-headword" and @xml:lang="en".)
- [ ] Prevent srophe:tags="#syriaca-headword"  from being used more than once per language (as indicated in the @xml:lang value).

See current documentation:

#### @srophe:ta

[2020-05-20 20:10] davidamichelson opened #817 "Should we deprecate the value srophe:tags="#syriaca-simplified-script""
Example:
[code]
This attribute value was added whenever we created machine generated names as a process of machine Romanization. The namse 3 through 6 here were generated by script based on names 1 and 2. These names DO NOT appear in the HTML view of the record and are generated merely for making it possible for searching by these names which have the diacritics removed or in a different style. Th

[2020-05-20 20:12] davidamichelson commented on #765
Please read this over too:

#### @srophe:computed-start & @srophe:computed-end
As evident from the examples above ancient and medieval chronological data can often be imprecise in terms of dates. It is quite common for an historical source to indicate only the year of an event rather than a specific month or day. The Srophé App has several tools and functions for sorting data by date, such as a ti

[2020-05-20 20:14] dlschwartz commented on #816
I thought this rule was already included but it looks like it isn't. I can do that.

[2020-05-20 20:14] davidamichelson commented on #765
And this issue https://github.com/srophe/srophe-app-data/issues/816

[2020-05-20 20:17] davidamichelson commented on #816
Can you do both rules above?

[2020-05-20 20:18] dlschwartz commented on #816
yep

[2020-05-20 20:21] davidamichelson commented on #816
Great, please close this issue when you are done.

[2020-05-20 20:24] davidamichelson commented on #774
Cool diagram, though I my mind the hierarchy is
A level
M level
S1 level
S2 level
which is not quite what you have visually.

Now that I think about it, maybe we would never have an M if we have multiple S?

[2020-05-20 20:27] davidamichelson commented on #817
Or maybe we change it to "#syriaca-computed-name" or @srophe:tags="#srophe-computed-name" I think it is the word script that is out of place.

Using @srophe:tags="#srophe-computed-name" would then be comparable to @srophe:tags="#syriaca-headword"

[2020-05-20 20:37] davidamichelson commented on #759
@wlpotter Did we make this change? Could you check the data and make the change if not please?

[2020-05-20 20:40] davidamichelson commented on #754
@wlpotter I think we did this in another issue. Is that correct?

[2020-05-20 20:41] wlpotter commented on #754
@davidamichelson yes, this was a data-wide change made in conjunction with #767

[2020-05-20 20:41] davidamichelson commented on #752
@wlpotter I think this is done, correct?

[2020-05-20 20:42] davidamichelson commented on #747
I think we decided not to do this, but I can't remember why. Anyone have an opinion?

[2020-05-20 20:45] #751 closed

[2020-05-20 20:46] davidamichelson commented on #750
@dlschwartz We have this old issue with lots of prose we should move to the documentation.

[2020-05-20 20:49] davidamichelson commented on #749
Okay here is the back story related to #747

[2020-05-20 20:51] davidamichelson commented on #746
@wlpotter Could you check and see which records do not have state/@type=”existence”?
@dlschwartz Shoud we require this?

[2020-05-20 20:54] wlpotter commented on #752
@davidamichelson there are still a large number of work records that have a `@role="general-editor"` in them. From what I can tell these are the "uncorrected-draft" records that came in as new records from dev (see [this pull request](https://github.com/srophe/srophe-app-data/pull/791) and issue #789

[2020-05-20 20:55] davidamichelson commented on #741
@dlschwartz Is this still an idea? Should we discuss this?

[2020-05-20 21:09] wlpotter commented on #759
@davidamichelson all place records have either a `@source` or a `@resp` attribute.

[2020-05-20 21:14] wlpotter commented on #746
It appears that only these two records do not have `tei:state[@type="existence"]

http://syriaca.org/place/3048
http://syriaca.org/place/3049

[2020-05-20 21:16] davidamichelson commented on #656
@wlpotter Could you look into this when you have a spare minute and see what is up?

[2020-05-20 21:25] wlpotter commented on #743
@davidamichelson I'm not sure exactly what change we want here.

I have the script that connects Syriaca URIs and e-GEDSH entry URIs. I've only run it on person records, but I can run it on places as well. We can then include the e-GEDSH URI in the `tei:idno` list.

If I understand this issue right, though, we would want to change the current bibls for the record's GEDSH entry:

[code]
To point at

[2020-05-20 21:27] wlpotter commented on #743
Note that since we do not have bibl records for individual entries in GEDSH, we will need to use some form of tei:citedRange to point at the entry.

Alternatively we could replace the `tei:pter/@target` attribute value, currently pointing at the Syriaca Bibl record for GEDSH, with the entry URI

[2020-05-20 21:39] wlpotter commented on #815
This has been fixed in places. @davidamichelson should I go ahead and make sure empty lines are deleted in persons, works, bibls, etc.?

[2020-05-20 21:47] wlpotter opened #818 "update or remove places schematron ptr/@target warning"
One of the places schematron rules warns "This `@target` attribute must end with a number."

However, since we've begun to use the alphanumeric Zotero ID string, this warning may no longer be necessary.

In the Syriac World places, for example, we have this:
 `<ptr target="http://syriaca.org/bibl/QK9W3LED"/>`.

There is another schematron warning related to this one that may also need to be update

[2020-05-21 01:04] dlschwartz commented on #816
@davidamichelson @wlpotter the commit linked above ought to do the trick. Please test and let me know if it's not working correctly.

Btw, I needed to put the error message on the `<place>` element rather than directly on the `<placeName>` element so that might not be as expected but it is intentional.

[2020-05-21 14:26] wlpotter commented on #759
I had misread this issue. Just checked to make sure that no placeName has _both_ attributes. This is the case. All placeNames have at least one of the attributes but never both of them.

I think this can be closed unless there is something I missed.

[2020-05-21 15:01] dlschwartz commented on #746
Surely there are conceptual entities for which we want URIs that do/did not actually exist. The Atlantis example mentioned above as well as various utopian ideas. If virtually all places in our data exist we could create a warning when it  is absent.

[2020-05-21 15:07] dlschwartz commented on #741
@davidamichelson this is in the works. @wsalesky did the xslt. The results are here: [places](http://wwwb.library.vanderbilt.edu/exist/apps/srophe/documentation/indexes/places.xml) and [persons](http://wwwb.library.vanderbilt.edu/exist/apps/srophe/documentation/indexes/persons.xml). They aren't currently on GitHub but Winona is working on that. When they can be accessed there, I will implement thi

[2020-05-21 15:18] dlschwartz commented on #747
@davidamichelson @wlpotter here's the documentation for abstracts: https://github.com/srophe/draft-data/blob/master/data/schemaPlaceDraftData/syriacaPlacesTEI.odd#L1912

[2020-05-21 16:03] dlschwartz commented on #765
We do not use the following and can delete them without consequence if we want to.

xmlns:xi="http://www.w3.org/2001/XInclude"
xmlns:svg="http://www.w3.org/2000/svg"
xmlns:math="http://www.w3.org/1998/Math/MathML"

[2020-05-21 16:03] dlschwartz commented on #765
That said, if we got into drawing polygons in place data, we would likely need svg.

[2020-05-21 16:05] dlschwartz commented on #765
I would clarify that we use @srophe:computed-start & @srophe:computed-end for making timelines (and, I believe, exclusively for making timelines). If another project didn't care about timelines they could drop this feature without consequence. Probably want to confirm with Winona on this though.

[2020-05-21 16:07] dlschwartz commented on #765
In general, throughout the documentation I would recommend a two-space indent for each line. These indents are too big and decrease readability. I usually put code snippets into a simple text editor and adjust spacing before I upload them in markdown.

[2020-05-21 16:09] dlschwartz commented on #765
Whenever possible, I would recommend using returns so that viewing code snippets requires minimal scrolling.

[2020-05-21 16:12] dlschwartz commented on #765
Sorry, I think [this comment](https://github.com/srophe/srophe-app-data/issues/765#issuecomment-631700144) addresses what I was getting at in my [comment above](https://github.com/srophe/srophe-app-data/issues/765#issuecomment-632179195) about `@srophe:computed-start` & `@srophe:computed-end`. Nothing more needed there.

[2020-05-21 16:20] dlschwartz commented on #818
@wlpotter @davidamichelson if we have alphanumeric endings I can make this change. I will probably just write rule that indicate that the value must start with `http://syriaca.org/bibl/` and leave it at that. That means that anything could follow. If we develop an index for bibl URIs like we use for the taxonomy in SPEAR and like we are bringing online for persons and places, we could simply requi

[2020-05-21 16:26] dlschwartz commented on #750
@dlschwartz I think the results of this are all instantiated in the schema so we're in good shape there. This will exist in the Syriaca-level chained ODD and apply to all Syriaca data. I agree that we can move a lot of this language to the documentation.

[2020-05-21 16:45] dlschwartz commented on #816
The commit linked above updates the schema to fire the rule on `<placeName>` instead of `<place>` which I think is preferable.

[2020-05-21 16:58] davidamichelson commented on #815
Yes please check all

[2020-05-21 18:33] #759 closed

[2020-05-21 18:33] #754 closed

[2020-05-21 19:08] wlpotter commented on #815
Empty lines were removed from all data

[2020-05-21 19:08] #815 closed

[2020-05-21 19:14] #752 closed

[2020-05-21 19:38] dlschwartz commented on #816
I've had to reopen this issue. The schematron rules work fine. However, the need to use namespaced attributes in the xpath of the schematron rule is creating a problem. For whatever reason, the xslt that transforms the .odd into .rng doesn't grab the namespace declaration and put it in the right place. I've got some ideas of what the problems are and I can think of at least one simple workaround.

[2020-05-21 19:39] wlpotter opened #819 "Update tei:editorialDecl in place records"
Here is the current editorialDecl on [place 78](https://github.com/srophe/srophe-app-data/blob/2019-May-Batch-Changes/data/places/tei/78.xml#L70-L76):

[code]

There are some records that have a tei:interpretation element in the editorialDecl which is not validating (I think because it conflicts with a sibling tei:p element?). An example is [place 2841](https://github.com/srophe/srophe-app-data/bl

[2020-05-21 19:40] wlpotter commented on #819
Note that approx. 290 records have `editorialDecl/interpretation` elements that conflict with `editorialDecl/p` elements.

[2020-05-21 19:48] wlpotter opened #820 "at least one tei:bibl element required as child of tei:place"
There are 19 place records that do not have at least one bibl element. The schema requires each place record to have an associated citation recorded in the bibl element, which seems to me how we want things to work. However, the following URIs would in that case need to be updated with a bibl element:

- [x] http://syriaca.org/place/2570
- [x] http://syriaca.org/place/2576
- [x] http://syriaca.org

[2020-05-21 19:57] wlpotter opened #821 "expand allowed value list for tei:citedRange unit attribute in places"
In place data we have both "col" and "ff" as values for `tei:citedRange/@unit` attributes.

We currently allow "column", so perhaps we should update attributes with "col" to "column"? My only hesitation is that we allow "vol", so perhaps should change "column" to "col" for consistency.

"ff" refers to follia, e.g. in [place 104](https://github.com/srophe/srophe-app-data/blob/2019-May-Batch-Changes

[2020-05-21 20:16] wlpotter opened #822 "allow sequenced xml:ids to have gaps in enumeration"
Currently a schematron error is thrown in cases where we have sequentially numbered xml:ids (e.g., in tei:placeName elements) that have a gap in their sequence.

For example, in [place 88's placeNames](https://github.com/srophe/srophe-app-data/blob/2019-May-Batch-Changes/data/places/tei/88.xml#L107-L119) we have:

[code]

Note the gap between "name88-11" and "name88-13". We do not have a "name88-1

[2020-05-21 20:32] wlpotter commented on #766
reopening this because I found 4 cases where `tei:note[@type="deprecation"] elements have an `@xml:id` attribute but are being flagged by the schematron rules.

This is the error message: "A `<note>` element of `@type ="deprecation"` should not have an `@xml:id` attribute."

Are we wanting to remove these xml:ids?

[2020-05-21 20:38] dlschwartz commented on #816
I just want to record some notes.

It looks like the way we are handling the creation of attributes in our own namespace is a bit unorthodox. I thought of this as creating something that would work like xml namespaced attributes used throughout the TEI (`@xml:id`, `@xml:lang`, etc.). As such, I created these attributes in the ODD with the desired prefix attached, i.e. with an `<attDef ident="sroph

[2020-05-21 20:39] wlpotter commented on #766
There is a seemingly related issue with the schematron rule where, on place 62, I get the following error:

[2020-05-21 20:45] dlschwartz commented on #821
@davidamichelson I'me rather agnostic on this. Do you want to weigh in?

[2020-05-21 21:02] dlschwartz commented on #766
@wlpotter are you working on your local machine? Place 62 is associated with syriaca-tei-main.rnc on both dev and production. Maybe you're working in a branch? If you are in a branch that is synced to GitHub, could you send me links to the lines of the files on GitHub that throw errors? That would help a lot. I need to be able to test stuff in order to figure out what errors I may have written int

[2020-05-21 21:04] dlschwartz commented on #822
@davidamichelson can you weigh in on this one? I agree that they should not need to be sequential. I suppose it's fine to allow a free for all as long as each ID is unique. Do you find that sufficient as well?

[2020-05-21 21:11] dlschwartz commented on #822
And by the way, is there something I don't understand about the `@xml:id` in TEI? Why is it that you can assign the same ID to multiple instances of the same element, even siblings? It's always seemed odd to me.

[2020-05-21 21:16] wlpotter commented on #766
@dlschwartz Sorry about the confusion. I ran a batch validation on the whole of the places directory (on [this branch](https://github.com/srophe/srophe-app-data/tree/2019-May-Batch-Changes)) using the schema and embedded schematron rules from [here](https://raw.githubusercontent.com/srophe/draft-data/master/data/schemaPlaceDraftData/out/syriacaPlacesTEI.rng) and have been working through those to

[2020-05-21 21:31] wlpotter opened #823 "remove doubled whitespace between URIs in attributes in tei:relation elements"
See, for example, [place 88](https://github.com/srophe/srophe-app-data/blob/2019-May-Batch-Changes/data/places/tei/88.xml#L190):

[code]
Notice that there are two spaces in between the URIs. I believe this is affecting approx. 55 records in places.

[2020-05-21 21:36] wlpotter opened #824 "at least one tei:desc element required as child of tei:place"
All place records require at least one tei:desc element. Furthermore, at least one of the tei:desc elements should be the abstract (i.e., `@type="abstract" xml:id="abstract{$docId}-{\d+|}`).

The following 22 records do not have any tei:desc children of tei:place,

http://syriaca.org/place/2626
--
http://syriaca.org/place/2653
http://syriaca.org/place/2666
http://syriaca.org/place/2673
http://syri

[2020-05-21 21:43] wlpotter opened #825 "regularize case place-type values"
Here are the values which currently exist as attribute values for `tei:place/@type`:

settlement
mountain
river
open-water
region
monastery
province
quarter
parish
state
unknown
island
church
diocese
fortification
building
temple
**Building**
**Church**
**Quarter**
**Designated-space**
**Synagogue**
**Diocese**
natural-feature
synagogue
mosque
designated-space

It looks like the main issue is inco

[2020-05-21 21:47] wlpotter commented on #823
Note to self:
Xpath: /TEI/text/body/listPlace/listRelation/relation/@mutual

Find: "  "
Replace: " "

[2020-05-21 21:54] wlpotter commented on #823
Checked this as well in `@passive` and `@active` attributes and this is fixed.

[2020-05-21 21:54] #823 closed

[2020-05-21 22:41] dlschwartz commented on #766
@wlpotter thanks for the clarification. I'd like to see us associate the draft data schema as soon as possible but I guess there's no need to rush it.

Somehow I missed that I had both the requirement for a particular set of values on the `@xml:id` and a rule saying that there couldn't be an `@xml:id`. Okay, I'll change the rule disallowing an `@xml:id` to one requiring an `@xml:id`. That's easy.

[2020-05-21 23:03] dlschwartz commented on #766
@wlpotter the commit above should solve this. An @xml:id is required and multiple values are allowed on @target but each one must validate against one of the values coming from the @xml:id on the name variants in the file. Go ahead close if this seems to be working as expected.

[2020-05-22 14:06] wlpotter commented on #766
Yes, this looks to be fixed. Thanks!

[2020-05-22 14:18] wlpotter opened #826 "update schema association in place records"
Opening this as a reminder that we need to change the schema association for place records to the place-specific schema.

Current association is:
[code]
New association would be (at least):
[code]

See [this comment](https://github.com/srophe/srophe-app-data/issues/816#issuecomment-632332927) for a potential third schema link we might need to include.

@davidamichelson @dlschwartz we should discus

[2020-05-22 14:33] wlpotter commented on #810
Note that schema association changes fir places is now #826

[2020-05-22 14:37] wlpotter opened #827 "remove unused namespace declarations in place records"
See the comment [here](https://github.com/srophe/srophe-app-data/issues/765#issuecomment-632178103).

@davidamichelson would you like to keep the following namespace declarations on the root element of place records?

- xmlns:xi="http://www.w3.org/2001/XInclude"
- xmlns:svg="http://www.w3.org/2000/svg"
- xmlns:math="http://www.w3.org/1998/Math/MathML"

If so, will this require schema and documenta

[2020-05-22 14:40] wlpotter commented on #825
Note: I have a script ready which replaces the place type value with its all-lower-case value

[2020-05-22 14:43] dlschwartz commented on #826
@wlpotter @davidamichelson I think we should go ahead and make the new association. What's the plan for doing this. I've used find all and replace on the @href before. It works reasonably well but you can get tripped up by unexpected line breaks. An xslt is an option as well. I've got one for this purpose somewhere. I just asked the oXygen folks if there is a way to change the xml model lines in a

[2020-05-22 14:53] wlpotter commented on #826
@dlschwartz updating it shouldn't be too difficult. A find-and-replace could work, but you can also select and update processing-instructions with xquery (I've done this before for the manuscript project and it's rather straightforward).

If you give me examples of what the final processing-instructions should look like, I can put them in the script to make the change.

[2020-05-22 14:58] wlpotter opened #828 "update id format for abstracts in person records"
This is a similar change to https://github.com/srophe/srophe-app-data/issues/770.

Current style (see [person 13](https://github.com/srophe/srophe-app-data/blob/2019-May-Batch-Changes/data/persons/tei/13.xml#L284-L286):
[code]

New style:
[code]
(Xpath: `/TEI/text/body/listPerson/person/note[@type="abstract"]`)

[2020-05-22 15:40] wlpotter opened #829 "restore xml declaration in 2019 may batch change records"
It seems that with [this commit](https://github.com/srophe/srophe-app-data/commit/0ce81f4d3ac8d9f6776cd27d5870f6724e53544c#diff-24b1d91e590f7670f483854a0061a5a4) or a related one I inadvertently removed the xml declaration from the data in the [2019-May-Batch-Changes tree](https://github.com/srophe/srophe-app-data/tree/2019-May-Batch-Changes).

This can be restored using the regex find and replace

[2020-05-22 15:41] wlpotter commented on #829
I think it best to wait on this until other changes have been made as I believe that the issue has something to do with Xquery update scripts. Even with `declare option output:omit-xml-declaration "no";` the script(s) seem to delete the xml declaration...

[2020-05-22 16:10] wlpotter commented on #656
The stand-alone record for 220 does not add anything that we would want to bring in to the msPart of 216. I will delete 220 and leave 216 as is.

[2020-05-22 17:10] dlschwartz commented on #826
@wlpotter great! I've moved the current draft place schema to srophe-exist-app. I've also moved the stand-alone schematron to that location. There should now be three xml model lines:

`<?xml-model href="https://raw.githubusercontent.com/srophe/srophe-eXist-app/master/documentation/schemas/out/syriacaPlacesTEI.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>`
`<?xml

[2020-05-22 17:53] wlpotter commented on #826
I tested the script on place 78 to see how it worked. You can see the output [here](https://github.com/srophe/srophe-app-data/blob/2019-May-Batch-Changes/data/places/tei/78.xml#L1-L3).

I am getting this error in Oxygen, though:

Main validation file: C:\Users\anoni\Documents\GitHub\srophe\srophe-app-data\data\places\tei\78.xml
Engine name: ISO Schematron
Severity: fatal
Description: wwwb.library.

[2020-05-22 18:05] dlschwartz commented on #826
Yes, that must be it. I tested it though and it worked for me. Winona is supposed to move these files to GitHub so the schema can validate against the raw GitHub file. I'll just comment this out until she gets a copy posted to GitHub.

[2020-05-22 18:26] davidamichelson commented on #825
yes please change.

[2020-05-22 18:27] wlpotter commented on #827
Related to #765

[2020-05-22 18:29] davidamichelson commented on #827
Delete:
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:math="http://www.w3.org/1998/Math/MathML"

Keep:
    xmlns:svg="http://www.w3.org/2000/svg"

[2020-05-22 18:30] davidamichelson commented on #765
Thanks @dlschwartz

[2020-05-22 18:30] #765 closed

[2020-05-22 18:31] davidamichelson opened #830 "Change code snippet spacing and returns in documentation markdown"
In general, throughout the documentation I would recommend a two-space indent for each line. These indents are too big and decrease readability. I usually put code snippets into a simple text editor and adjust spacing before I upload them in markdown.

Whenever possible, I would recommend using returns so that viewing code snippets requires minimal scrolling. -@dlschwartz

[2020-05-22 18:33] davidamichelson commented on #826
Approved

[2020-05-22 18:36] davidamichelson opened #831 "http://syriaca.org/place/2653.html has a @ref value showing in the HTML"
[code]

[2020-05-22 18:42] wlpotter commented on #824
Give all records which lack a tei:desc child of tei:place an empty abstract of the form:

[code]

[2020-05-22 18:42] davidamichelson commented on #820
Will need research and adding bibls.

[2020-05-22 18:42] davidamichelson commented on #820
I can add some.

[2020-05-26 14:14] wlpotter commented on #826
This is fixed for places records (currently on [this branch](https://github.com/srophe/srophe-app-data/tree/2019-May-Batch-Changes/))

[2020-05-26 14:14] #826 closed

[2020-05-26 14:25] wlpotter commented on #825
This is fixed.

[2020-05-26 14:25] #825 closed

[2020-05-26 14:32] #810 closed

[2020-05-26 15:04] wlpotter commented on #746
Note to self: check those records that have an otherwise empty existence tei:state element.

[2020-05-26 15:05] davidamichelson commented on #746
Currently we do not display this information, except it is used in the timeline feature and for search. We should discuss at editors meeting.

[2020-05-26 15:16] wlpotter commented on #819
Here are the elements currently in use in the tei:editorialDecl:

[code]

[2020-05-26 15:31] davidamichelson opened #832 "Some place names from Wilmshurst have quotation marks in the name"
See http://syriaca.org/place/1781.html

We should delete these.

[2020-05-26 15:51] wlpotter opened #833 "all place records should have at least one tei:respStmt in the tei:titleStmt"
Add a respStmt similar to the following:
[code]

[2020-05-26 15:58] wlpotter commented on #832
Here is a full list (with the caveat that there could be a place name that begins with 'ayin and ends with aleph, which the script that generated this list would interpret as being in quotes):

http://syriaca.org/place/1138
http://syriaca.org/place/1781
http://syriaca.org/place/1807
http://syriaca.org/place/1831
http://syriaca.org/place/2486
http://syriaca.org/place/2504
http://syriaca.org/place/2

[2020-05-26 16:02] davidamichelson commented on #742
Ignore the above comment, instead add a note in the editorialDecl on how we derived coordinates from GEDSH and Syriac World Maps

[2020-05-26 16:03] wlpotter commented on #742
Cf. #819

[2020-05-26 16:27] wlpotter commented on #827
I found the following additional namespaces in use:

xmlns:skos="http://www.w3.org/2004/02/skos/core#"
xmlns:xs="http://www.w3.org/2001/XMLSchema"

There may be others, which I will be testing for now. I am wondering if it might be better to make a list of what declarations we want to include in place records and simply use find-and-replace (or an Xquery) to update all records to have these, and o

[2020-05-26 16:31] wlpotter commented on #827
This is the list of currently in-use prefixes for xml namespaces in place records:

syriaca
xs
svg
xi
srophe
xml
skos

[2020-05-26 16:39] davidamichelson commented on #833
@dlschwartz  Do we want to require that all records have at least one `<respStmt>`? I think so and at present all but a few records do.

Both the editors and other parties who are responsible for the creation of this TEI place record are then identified individually in `<respStmt>` elements (`<resp>` stands for "responsibility"). The schema requires the record have at least one `<respStmt>` which

[2020-05-26 16:44] davidamichelson opened #834 "Change TSG documentation so that editor @role=general is only in series"
I think we want to change the documentation to allow editor/@role=general only in seriesStmt and not `<titleStmt>`?

The general editors for this domain of Syriaca.org are then listed in successive `<editor>` elements, each with a @role attribute with value "general" and a @ref attribute which points to the @xml:id of the editor within the "editors.xml" document.  The name of the general editor is

[2020-05-26 16:49] davidamichelson commented on #827
Okay let's discuss with Dan and Winona

[2020-05-26 16:50] wlpotter commented on #824
Fixed

[2020-05-26 16:50] #824 closed

[2020-05-26 16:52] dlschwartz commented on #833
@davidamichelson the schema should be requiring at least one `<respStmt>`. See https://github.com/srophe/srophe-eXist-app/blob/master/documentation/schemas/syriacaPlacesTEI.odd#L345.

Can you clarify the question for me? Thanks.

[2020-05-26 16:53] wlpotter commented on #818
@davidamichelson forgot to bring this one up this morning. I think this would be a good change to the rule in the short term. Thoughts?

[2020-05-26 16:56] davidamichelson opened #835 "Change title on Syriaca.org Guidelines for Approximate Dates"
http://syriaca.org/documentation/dates.html Syriaca.org Guidelines for Approximate Dates

[2020-05-26 17:21] davidamichelson commented on #819
@wlpotter and @dlschwartz  would you mind proofreading this please? Just edit this post directly.

@wsalesky What sort of mark up can I use in a TEI:p here to make nice HTML (say italics for titles and live links):

[code]

[2020-05-26 17:22] davidamichelson commented on #819
@wsalesky Just to clarify the path for this will be in the TEI:editorialDecl

[2020-05-26 17:24] davidamichelson commented on #749
@dlschwartz I think we can retire these two issues but want to check in first.

[2020-05-26 17:25] davidamichelson commented on #742
Added to #819 thus closing here.

[2020-05-26 17:25] #742 closed

[2020-05-26 17:32] davidamichelson commented on #743
Need to work out next steps

[2020-05-26 17:38] dlschwartz commented on #749
@davidamichelson I think we're good on this.

[2020-05-26 17:42] dlschwartz commented on #819
@davidamichelson I made a few small changes

[2020-05-26 18:12] wlpotter commented on #819
The Zotero ID for _The Syriac World_ is `PUTG99V4` but we haven't exported a TEI bibl record for it yet. I've added the string to the bibl URI in anticipation of the export.

Also, it strikes me that we may want to include `@resp="http://syriaca.org"` attributes on `tei:state[@type="existences"]` elements which do not have sources?

[2020-05-26 18:33] wlpotter commented on #832
I've changed all but http://syriaca.org/place/888. I can't tell if this is truly in quotes or if there is an 'ayin at the beginning of the place name (i.e., 'Aksni or Aksni)

[2020-05-26 18:46] davidamichelson commented on #833
You answered the question, which was should all records have a resp. @wlpotter  will update those that are missing resps.

[2020-05-26 18:47] wlpotter commented on #833
Fixed.

[2020-05-26 18:47] #833 closed

[2020-05-26 18:47] davidamichelson commented on #832
Yes, it should be changed as well.  http://syriaca.org/place/888.

[2020-05-26 18:49] davidamichelson commented on #819
Thanks both! @wlpotter I have split off an issue for adding resp. Let's wait to hear from Winona on the formatting.

[2020-05-26 18:52] #832 closed

[2020-05-26 18:52] davidamichelson opened #836 "include @resp="http://syriaca.org" attributes on tei:state[@type="existences"] elements which do not have sources"
From #819

@wlpotter Could you do this please?

@dlschwartz could the schema require this similar to #801?

[2020-05-26 18:55] wsalesky commented on #819
@davidamichelson you can use `<hi rend>` or you could use `<title>` either should render just fine.

[2020-05-26 19:13] davidamichelson commented on #819
@wsalesky does it make sense to use @ref like this for URLs that we want to turn into `<a href="">`?

[2020-05-26 19:13] davidamichelson commented on #819
Our end goal is to visualize this information on the web page

[2020-05-26 19:16] davidamichelson commented on #822
@dlschwartz Yes, we only need them to be unique and we do NOT want to require sequential because if we delete one we would have to renumber everything. Please make this change to the schema.

p.s. I don't know an answer to the second comment about same ID to multiple instances that seems counter intuitive

[2020-05-26 19:19] wlpotter commented on #821
In the place records we have: "entry", "line", "map", "part", "pp", "section", "vol", "col", and "ff".

We currently allow all of the above except for "col" and "ff". In addition, we allow "column" but do not have instances in place data.

[2020-05-26 19:28] davidamichelson commented on #821
Let's discuss.

[2020-05-26 19:29] davidamichelson commented on #818
Agree, @dlschwartz please update.

[2020-05-26 19:31] davidamichelson commented on #816
@dlschwartz Okay, just let us know when you are done. Sorry this turned out to be complex!

[2020-05-26 19:36] davidamichelson commented on #789
What remains on this issue is to merge the edited records from Persons, Bibls etc. Places will be done with the branch for may 2019 changes.

[2020-05-26 19:38] davidamichelson commented on #776
@wsalesky could you do this issue when you get a chance and apply to the srophe app everywhere.

[2020-05-26 19:46] wsalesky commented on #819
Yes, that should work.
-Winona

On Tue, May 26, 2020 at 3:13 PM David Michelson <notifications@github.com>
wrote:

[2020-05-26 19:54] dlschwartz commented on #816
@davidamichelson @wlpotter this should work correctly with the three xml declaration lines Will has put into the batch change documents. Please let me know if you get anything you don't expect. If it seems to be working correctly go ahead and close this issue.

[2020-05-26 20:08] wlpotter commented on #816
This is working correctly; thanks!

[2020-05-26 20:08] #816 closed

[2020-05-26 20:15] wlpotter commented on #836
Data has been updated

[2020-05-26 20:21] dlschwartz commented on #801
@davidamichelson @wlpotter The original goal was to finish cleaning up place data and make sure that it is working with the current ["place schema"](https://github.com/srophe/srophe-eXist-app/blob/master/documentation/schemas/syriacaPlacesTEI.odd) and vice versa. Then we were going to address places. 

My plan is to have a srophe-all schema and a syriaca-all schema. These will get chained and turn

[2020-05-26 20:24] dlschwartz commented on #836
@wlpotter @davidamichelson This should already be working. Have you tested? https://github.com/srophe/srophe-eXist-app/blob/master/documentation/schemas/syriacaPlacesTEI.odd#L1863

[2020-05-26 20:31] wlpotter commented on #836
@dlschwartz yes, this is working for placeNames. But we want the same constraints (must have at least one but not both of `@resp="http://syriaca.org"` or `@source` attributes) on the `tei:state[@type="existence"]` element (full xpath: `/TEI/text/body/listPlace/place/state[@type="existence]`

[2020-05-26 20:41] dlschwartz commented on #818
@wlpotter @davidamichelson the commit above requires the value of bibl/ptr/@target to start with "http://syriaca.org/bibl/" and therefore allows anything to appear after that. I have kept the warning message since on occasion we have a source like pleiades. Please test and close if things are working correctly.

[2020-05-26 20:43] dlschwartz commented on #836
@wlpotter sorry, I missed the different context. I'll update.

[2020-05-26 20:50] dlschwartz commented on #836
The commit above should require `@source` or `@resp` on `<state type="existence">`. Please test and close the issue if everything is working correctly.

[2020-05-26 20:53] wlpotter commented on #836
Yes, this is working correctly. Thanks!

[2020-05-26 20:53] #836 closed

[2020-05-26 21:16] dlschwartz commented on #822
@wlpotter @davidamichelson the commit above removes the requirement that xml:id attributes be sequential. I explicitly removed it from the following contexts:
`//tei:place/tei:bibl`
`//tei:place/tei:event[@type='attestation']`
`//tei:place/tei:placeName`
`//tei:place/tei:desc[@type='abstract']`

The following contexts listed above didn't have any rules requiring sequential value so maybe we should

[2020-05-26 21:50] wlpotter opened #837 "in places and works, allow sequenced xml:ids to have gaps in enumeration"
Splitting off the changes for person and work records/schema from #822

We will need to change this for

- `tei:bibl`s in person, and work records (in work records these appear as children of tei:note elements)
- `tei:persName`s in person records
- `tei:note[@type="abstract"]`s in person records (though we need to update how these are formatted, see #828 ).
- `tei:event[@type="attestation"]`s in p

[2020-05-26 21:51] wlpotter commented on #822
@dlschwartz The contexts you changed are all working correctly. I will open a separate issue (#837) for the persons and works changes.

[2020-05-26 21:51] #822 closed

[2020-05-26 21:53] wlpotter commented on #818
This is working correctly. Thanks!

[2020-05-26 21:53] #818 closed

[2020-05-27 14:37] dlschwartz commented on #816
No wonder this is so difficult to deal with: https://github.com/TEIC/TEI/issues/1837. It's a complicated problem with issues in the TEIC and with the default settings of oXygen. But, it's also difficult because some on Council don't really want to provide support for TEI customization. As a result, it is poorly documented in the guidelines.

[2020-05-27 17:06] dlschwartz commented on #766
@wlpotter @davidamichelson I found a but in the value of the xml:id so I'm reopening. In theory, the xml:id on notes deprecating names should include a reference to the name being deprecated. However, we allow multiple values on target and therefore multiple names being deprecated with a single `<note type="deprecation">`. See the example labeled "change" above: https://github.com/srophe/srophe-ap

[2020-05-27 18:47] davidamichelson commented on #819
- [ ] @wlpotter Please change the records for places. Then make this same issue for Persons.
- [ ] @davidamichelson will update documentation

[2020-05-27 18:55] davidamichelson commented on #766
I think the xml-id for the note is now obsolete. So we can just remove it/make it optional in the schema. @wlpotter will find and delete all of them on note/@type="deprecation"

[2020-05-27 18:58] davidamichelson commented on #762
#812 will address this.

[2020-05-27 18:58] #762 closed

[2020-05-27 19:04] dlschwartz commented on #812
I would just like to add that the file format and location of this crosswalk is important. For the schema it would be good to have this on GitHub in some kind of xml (TEI, HTML) so that the schema can validate against the raw file on GitHub. Thanks. https://github.com/srophe/srophe-app-data/issues/762#event-3379625653

[2020-05-27 19:07] dlschwartz commented on #766
@wlpotter @davidamichelson great, I agree that we really do not need this. At least, I'm hard pressed to think of a time when someone would want to point to one of these deprecation notes. I'll go ahead and remove @xml:id on note type deprecation from the schema.

[2020-05-27 19:17] dlschwartz commented on #766
The schema no longer allows `@xml:id` on `<note>`. Please test and close.

[2020-05-28 09:41] nathangibson opened #838 "Should "Epiphansius" be "Epiphanius"?"
@jsaintlauren http://syriaca.org/work/1453

[2020-05-28 14:26] wlpotter commented on #779
Contents of srophe/util repo have been moved to https://github.com/srophe/srophe-xQueries/tree/master/from-srophe-util

srophe/util repo has been deleted

[2020-05-28 14:26] #779 closed

[2020-05-28 14:29] wlpotter commented on #766
Data has been updated. @davidamichelson will update the documentation.

[2020-05-28 14:37] wlpotter opened #839 "Update tei:editorialDecl in person records"
Compare #819

[2020-05-28 14:39] wlpotter commented on #819
Place data has been updated; issue #839 is for persons.

[2020-06-01 15:18] wlpotter commented on #821
DECISION: use singular abbreviations in all cases.

[2020-06-01 15:19] wlpotter commented on #827
DECISION: The following can be deleted: "xs", "svg", "xi", "skos" from place records.

[2020-06-01 15:24] dlschwartz commented on #797
Add `<editor role="contributor">`, `<editor role="technical">`, and `<editor role="associate">`

[2020-06-01 15:47] dlschwartz commented on #749
@davidamichelson `<person>` can contain `<note>` but not `<desc>` while `<place>` can contain both`<note>` and `<desc>`. We have both in places currently. TEI restricts where note can appear in place as well (see above). I propose we keep this the way it is rather than try to bring abstracts into line across datasets.

[2020-06-01 15:47] #749 closed

[2020-06-01 16:04] dlschwartz commented on #821
@wlpotter please test the schema changes linked above and close if things are working as expected. Thanks.

[2020-06-01 16:07] dlschwartz commented on #747
https://github.com/srophe/srophe-app-data/issues/749

[2020-06-01 16:07] #747 closed

[2020-06-01 16:11] dlschwartz commented on #788
@wsalesky I forgot to ask about this in the meeting. It turns out that I cannot link to these in HTML. My link has to be to a raw GitHub file. Are these available on GitHub? Can you point me to them? Thanks.

[2020-06-01 16:15] wsalesky commented on #788
Yes, sorry I still have to add them.
Will do that right after I feed my starving kids. ;)
-Winona

On Mon, Jun 1, 2020 at 12:12 PM Daniel Schwartz <notifications@github.com>
wrote:

[2020-06-01 16:46] wlpotter commented on #821
@dlschwartz I don't see the link to the schema changes?

[2020-06-01 16:51] dlschwartz commented on #821
@wlpotter there it is, I saved locally but forgot to push it. Thanks

[2020-06-01 17:02] wlpotter commented on #821
@dlschwartz I see it now, thanks. The change looks to be working. I will unassign you but leave open for the data changes I need to make.

[2020-06-01 17:03] wlpotter commented on #821
- [ ] @davidamichelson will update the documentation
- [ ] @wlpotter will change the data in places and create an issue for persons, works, bibls, etc.

[2020-06-01 17:03] wsalesky commented on #788
They are here: https://github.com/srophe/srophe-eXist-app/tree/master/documentation/indexes

[2020-06-01 17:08] dlschwartz commented on #821
FYI, the list of values is here: https://github.com/srophe/srophe-eXist-app/blob/master/documentation/schemas/syriacaPlacesTEI.odd#L1627

[2020-06-01 17:23] dlschwartz commented on #788
Thank you.

[2020-06-01 17:35] dlschwartz commented on #741
@davidamichelson @wlpotter I have updated the schema to validate against the raw versions of the index files Winona created: [persons](https://github.com/srophe/srophe-eXist-app/blob/master/documentation/indexes/persons.xml) and [places](https://github.com/srophe/srophe-eXist-app/blob/master/documentation/indexes/places.xml). These should require in-use Syriaca.org person and place URIs at the fol

[2020-06-02 15:18] davidamichelson commented on #820
@wlpotter if you run out of things to do, you could go through these and figureout which ones were created by Dan and ask him to provide bibls. You can also see if any of the others have clear references in GEDSH and cite that.

[2020-06-02 21:23] wlpotter commented on #827
Note to self:

The updated tei:TEI element should look like this:

[code]

[2020-06-02 21:32] wlpotter opened #840 "expand allowed value list for tei:citedRange unit attribute in all data"
This is a branch off of #821 but with the expanded scope of all Syriaca data. Place data will be updated with #821.

FYI, @dlschwartz I've started a label for syriaca-level schema changes. When we encounter an edit that should be srophe-level, we can make a label for it as well. But I am pretty sure we only want to update the list of allowed values for `tei:citedRange/@unit` for syriaca data. In o

[2020-06-02 21:35] wlpotter commented on #821
FYI I have opened a separate issue (#840) for making these same changes in the other syriaca publications. As such, I will just make the data change here.

[2020-06-02 21:36] wlpotter commented on #840
Note: we will need to query the other publications' data to find the full list of what values we are using citedRange.

[2020-06-02 21:51] wlpotter commented on #821
Place data updated. Leaving open for documentation update.

[2020-06-03 00:39] dlschwartz commented on #821
@wlpotter these will end up in the SyriacaAll ODD, but please leave that issue open and we'll close it when we implement that ODD.

[2020-06-03 20:01] wlpotter commented on #827
@davidamichelson I believe this needs to be updated in the documentation? See the example at https://github.com/srophe/srophe-app-data/wiki/TEI-Encoding-Manual-for-The-Syriac-Gazetteer#namespace-declaration-of-sroph%C3%A9-app-attributes

[2020-06-03 21:54] wlpotter opened #841 "In documentation `<classDesc>` should be `<classDecl>`"
There is a typo in the documentation where `<classDecl>` is called `<classDesc>`.

See the text here: https://github.com/srophe/srophe-app-data/wiki/TEI-Encoding-Manual-for-The-Syriac-Gazetteer#classdesc

The anchor label is correct, but the anchor itself, is not

[2020-06-05 17:44] wlpotter commented on #841
Fixed

[2020-06-05 17:44] #841 closed

[2020-06-05 19:17] dlschwartz opened #842 "@ref on state type="confession""
@davidamichelson @wlpotter am I right that `@ref` is required on `<state type="confession">`? The schema currently does not require this. I can add that requirement and validate the value of `@ref` against https://github.com/srophe/srophe-eXist-app/blob/master/documentation/confessions.xml.

Do you have any objections?

[2020-06-05 20:51] wlpotter commented on #842
@dlschwartz it looks like every `<state type="confession">` has a `@ref` attribute.

A spot-check shows they are currently pointing at "http://syriaca.org/documentation/confessions.xml but I don't know if that is the case for all of them. I can't think of a case where we would want to have it point elsewhere, so this seems like a good addition to the schema.

[2020-06-07 20:31] dlschwartz commented on #842
@wlpotter the commit above does the following:

- requires `<label>` as child of `<state type="confession">`
- validates `@ref` on `<state type="confession">` against the `@xml:id` attributes here: https://raw.githubusercontent.com/srophe/srophe-eXist-app/master/documentation/confessions.xml
- only allows `<label>` as a child of `<state>` when it is `<state type="confession">`
- requires that the

[2020-06-08 15:55] dlschwartz commented on #746
@wlpotter @davidamichelson one more question on this. Should `<state type="existence">` require date attributes, i.e. one or more of the following: @to, @from, @when, @notBefore, @notAfter?

Also, if we have one of the above, should we also require one or more of the following: @srophe:computed-start, @srophe:computed-end?

[2020-06-08 21:52] davidamichelson opened #843 "All notes must have an @type"
We need to update this one

[code]

to

[code]

[2020-06-08 22:07] davidamichelson opened #844 "ODD rule for @ref on TEI:author in NHSL"
Please require @ref on TEI:author in NHSL when it is in the following path for a person record:

text/body/bibl/author

Note, we do not want to require @ref in this path text/body/bibl/bibl/author

[code]

[2020-06-08 22:07] davidamichelson commented on #844
We also want to require @xml:lang and @source in this same path

[2020-06-08 22:11] davidamichelson opened #845 "TEI:pointer element in TEI:bibl needs reordering"
In some records the TEI:pointer element occurs before author and title and sometimes after

[2020-06-08 22:27] davidamichelson commented on #821
Just to amend, Dan and I decided to use "fol" instead of "f" for clarity. @wlpotter Could you find and replace unit="f" to unit="fol" in all the data.

[2020-06-09 14:36] davidamichelson commented on #843
@wlpotter Could you make this change to all records which have license/note please? Add note type="license"

[2020-06-09 14:37] davidamichelson commented on #843
path is /TEI/teiHeader/fileDesc/publicationStmt/availability/licence/p/note

[2020-06-09 15:31] wlpotter commented on #843
This has been changed in all data (on [this branch](https://github.com/srophe/srophe-app-data/tree/2019-May-Batch-Changes/)).

Are there schema changes or documentation updates that are needed? I noticed that the schema is throwing an error on place records with this change because the value of `@type="license"` is not allowed.

[2020-06-09 15:59] dlschwartz opened #846 "Date attributes"
@wlpotter @davidamichelson should we simply require one or more of the following: @srophe:computed-start, @srophe:computed-end whenever we have one or more of the following: @to, @from, @when, @notBefore, @notAfter?

Related issue: https://github.com/srophe/srophe-app-data/issues/746#issuecomment-640717470_

[2020-06-09 16:46] wlpotter commented on #843
@davidamichelson @dlschwartz Does this issue require schema or documentation changes? If not, we can go ahead and close it.

[2020-06-09 17:17] dlschwartz opened #847 "@resp on tei:location"
Is this allowed? There is only one instance: https://github.com/srophe/srophe-app-data/blob/2019-May-Batch-Changes/data/places/tei/2882.xml#L128.

If it is allowed, I think we need documentation in the wiki about what this would mean. I'm guessing that we (or, more likely, some proxy) collected gps coordinates ourselves. Maybe, but we should document.

[2020-06-09 17:23] dlschwartz commented on #843
@wlpotter the commit above should allow the changes to validate.

[2020-06-09 17:29] dlschwartz commented on #847
What I've got by way of documentation at the moment:
`<desc>
                In most cases the <gi>location</gi> element will have a <att>source</att> attribute pointing to the <gi>bibl</gi> element that is the
                source of that location information. In instances were the location information has been collected by a Syriaca.org contributor but is
                not attested in print,

[2020-06-09 20:53] wlpotter commented on #843
Great, the schema is working as intended.

@davidamichelson the documentation needs to be updated to reflect this change.

[2020-06-11 17:23] dlschwartz opened #848 "tei:revisionDesc status="uncorrected-draft""
#https://github.com/srophe/srophe-app-data/issues/752 #https://github.com/srophe/srophe-app-data/issues/789

@wlpotter @davidamichelson we have `<revisionDesc status="uncorrected-draft">` on over 400 place records. This doesn't validate in the current schema. I'm assuming I should add this to the schema but wanted to confirm. Thanks.

[2020-06-15 15:24] davidamichelson commented on #746
Conclusion, not all records will have state/@type=”existence” and not all state/@type=”existence” will have date data.

[2020-06-15 15:24] #746 closed

[2020-06-15 16:43] davidamichelson commented on #848
@wlpotter please change all to "draft"

[2020-06-15 16:50] davidamichelson commented on #847
Great it is updated in the wiki:

[code]

[2020-06-15 16:51] davidamichelson commented on #847
@dlschwartz This is ready if you have made a change in the schema please close the issue.

[2020-06-15 16:52] davidamichelson commented on #846
Do not require @srophe:computed-start, @srophe:computed-end

Instead we will strip this data out in a future revision.

[2020-06-15 16:59] davidamichelson commented on #817
@wlpotter Please replace
[code]
with
[code]

[2020-06-15 17:00] davidamichelson commented on #817
- [ ] @dlschwartz please update the ODD to give an error if srophe:tags="#syriaca-simplified-script" That value is now deprecated.

- [ ] @davidamichelson will update the documentation

[2020-06-15 17:03] davidamichelson commented on #774
See #797

[2020-06-15 17:08] davidamichelson commented on #797
- [ ] @dlschwartz please update the Srophe all ODD schema to permit `<editor role="contributor">` in the TEIHeader  (The use of `<editor role="contributing">` will be in NHSL body only and is a specific case different from here).

- [ ] @davidamichelson will update the documentation to make clear the definition.

[2020-06-15 17:10] davidamichelson commented on #797
@dlschwartz actually wait this is a mess, we shoudl talk in person :)

[2020-06-15 17:16] wlpotter opened #849 "re-associate place records with chained ODD"
@dlschwartz what is the location for the chained ODD file that I should associate the place records with?

[2020-06-15 17:20] davidamichelson commented on #774
Example:
[code]

[2020-06-15 17:21] dlschwartz commented on #849
@wlpotter Here you go: https://raw.githubusercontent.com/srophe/srophe-eXist-app/master/documentation/schemas/out/syriacaPlaces.compiled.rng

When I did it on [this branch](https://github.com/srophe/srophe-app-data/tree/2019-May-Batch-Chained-ODD/data/places/tei), I just did find all "syriacaPlacesTEI.rng" and replace with "syriacaPlaces.compiled.rng"

Thanks Will

[2020-06-15 17:21] davidamichelson commented on #774
@wlpotter Please update all place records with the above code immediately following the publicationStmt.

[2020-06-15 17:29] davidamichelson commented on #743
- [ ] @wlpotter Please check if we have bibl URIS for all articles

- [ ] @wlpotter Please update all bibl records for GEDSH articles to include the URI to egedsh as their URL

- [ ] @wlpotter Please find all Place/Person/Work records that cite individual GEDSH articles and point them to the article level Syriaca bibl URIs instead.

[2020-06-15 17:42] davidamichelson commented on #743
Currently, place/388 has this bibl:

[code]

and we have a record for bibl/363 which is the GEDSH article.

Please make the following updates.

In bibl/363 Currently:
[code]
Change to:
[code]

Next in place/338

find /TEI/text/body/listPlace/place/bibl/title/@level="a" and textnode "354. Mark, Monastery of St."
[code]

Change ` <ptr target="http://syriaca.org/bibl/1"/>`
to ` <ptr target="http://sy

[2020-06-15 18:38] dlschwartz commented on #817
This commit fixes the validation problem on srophe:tags: https://github.com/srophe/srophe-eXist-app/commit/24612b570cc4236d2f7712fdc524fc8d6d211d20

[2020-06-15 18:49] wlpotter commented on #849
@dlschwartz one more quick question, just to confirm. We will have the following three processing instructions as the result of this update:

[code]

In other words, only the first two links need to change. Is that right?

[2020-06-15 18:52] wlpotter commented on #849
Nevermind, I checked the examples in the branch you created and answered my own question. I will make this change.

[2020-06-15 18:57] wlpotter commented on #817
Data has been updated.

[2020-06-15 19:02] #849 closed

[2020-06-15 19:09] wlpotter commented on #848
I have updated the `@status` attribute of these records from "uncorrected-draft" to "draft". I believe this resolves any need for schema or documentation updates.

"uncorrected-draft" was a temporary designation we used in the merging of dev into production, but we have since deprecated that usage in favor of the "draft" attribute value.

[2020-06-15 19:09] #848 closed

[2020-06-15 19:14] wlpotter commented on #821
Woops! leaving this open for the documentation update.

[2020-06-15 19:28] wlpotter commented on #774
I have updated the data with the revised seriesStmt and have deleted the m-level title and the `editor[@role=general]` from the titleStmt.

@dlschwartz I noticed that, in addition to the updates needed for the `@role` attribute in seriesStmt/editor, the schema is not allowing a tei:date as child of tei:editor.

Here is the error:

FWIW, the [TEI Guidelines](https://www.tei-c.org/release/doc/tei-p5

[2020-06-15 19:49] wlpotter opened #850 "Add tei:change to tei:revisionDesc for 2019 batch changes"
Opening this as a reminder to include a tei:change summarizing the updates made in the batch changes.

@davidamichelson we should discuss what the text node should say.

[2020-06-15 20:37] wlpotter commented on #743
A few updates:

- All articles have an associated bibl URI. However, not all of these URIs have a record created. This will enable us to change the `ptr/@target` value in the bibl elements of each Syriaca entity record. (item 3 in the [above comment](https://github.com/srophe/srophe-app-data/issues/743#issuecomment-644268203)).
- I can use a script to find which articles still need records to be c

[2020-06-15 20:51] wlpotter commented on #743
Okay, so having done a bit more digging I think the issue is not a question of if all of the GEDSH article bibl record have been created but rather if all the records are present on the production server.

For example, http://syriaca.org/bibl/192 is not on the production server, but there is a record for it: https://github.com/srophe/srophe-app-data/blob/master/data/bibl/tei/192.xml

I can update

[2020-06-15 21:42] dlschwartz commented on #774
@wlpotter @davidamichelson sorry, but an aspect of this [post above](https://github.com/srophe/srophe-app-data/issues/774#issuecomment-630912770) got past me. I don't like the way we're proposing to use "past" as an attribute value. It is odd as a stand alone space separated value on `@role`. "Past" isn't an editorial role and it isn't parallel to any of the other possible values. I can write sche

[2020-06-15 21:47] wlpotter commented on #743
I have reverted the above two commits as I made a mistake in the script that matched the URIs. Fixing this now and will run the script again.

[2020-06-15 21:55] wlpotter commented on #743
Note: this does not seem to apply to works. There are no work records with a bibl whose ptr is "http://syriaca.org/bibl/1" which also has an a-level title.

The `tei:bibl/ptr/@target` attributes have been updated.

[2020-06-15 22:00] wlpotter commented on #743
@davidamichelson what remains is to add the GEDSH URI to the bibl records. Before I do that, can we discuss whether or not we need/want to add the GEDSH article number as well (e.g. 183 for [Edessa](https://gedsh.bethmardutho.org/Edessa))?

This could potentially go in `/TEI/text/body/biblStruct/monogr/biblScope[@type="entry"]`

[2020-06-15 22:07] dlschwartz commented on #774
The above commit allows "technical" to work as expected and adds `<date>` as an allowed child of `<editor>`.

I haven't added "past" yet. I also haven't allowed multiple values in `@role`. If we want dates, shouldn't we technically separate out the roles into different `<editor>` elements to accommodate different dates for different kinds of editorial roles?

[2020-06-16 14:42] dlschwartz commented on #774
I'm going to suggest we add: "past-associate", "past-general", and "past-technical". Let me know what you think of this and whether or not you want to allow multiple values.

[2020-06-16 16:27] wlpotter commented on #774
@dlschwartz "past-associate", "past-general", and "past-technical" seems like a reasonable solution. Although would we ever have a situation where an editor's role shifts in such a way that the would be, for instance, "past-associate" but also "technical"? I suppose in such a case we would need two editor elements anyway in order to capture the different date ranges of the roles.

I do think we st

[2020-06-16 16:33] dlschwartz commented on #774
@wlpotter @davidamichelson thanks, I'll add the hyphenated values. How would we handle someone who is serving as a general editor who later takes up the role of technical editor or vice versa?

[2020-06-16 18:50] wlpotter commented on #743
This has been fixed in all data.

[2020-06-16 18:50] #743 closed

[2020-06-16 19:56] dlschwartz opened #851 "documentation on tei:precision"
@davidamichelson The wiki is confusing: "This precision element will have a @match attribute whose value is either "@from" or "@to" or both (depending on whether the beginning or ending date is uncertain)." This makes it sound like @match can take multiple values. I think it should indicate that if both are uncertain the parent tei:state element should contain two tei:precision elements.

[2020-06-16 20:50] davidamichelson commented on #774
@dlschwartz good points, so let's use hyphenated values with past, and can require a date when a past- value is used? And make it optional in other cases.

Don't allow multiple values that is fine.

[2020-06-16 20:54] davidamichelson commented on #774
Revised:

[code]

[2020-06-16 20:58] davidamichelson commented on #774
Notes for documentation:
Only one @role allowed per entry
All of @role ="past- must have a date range
Order by:

General
Past-General
Associate
Past-Associate
Technical
Past-Technical

This order is not strict, the app should group by in the About section.

The citation should ignore all "past" role names and only use the current.

The about list should list past and present.

[2020-06-16 21:03] wlpotter commented on #850
`CHANGED: Implemented May 2019 batch changes, see <ref target="https://github.com/srophe/srophe-app-data/issues?q=is%3Aissue+is%3Aopen+label%3A2019-May-Batch-Changes">https://github.com/srophe/srophe-app-data/issues?q=is%3Aissue+is%3Aopen+label%3A2019-May-Batch-Changes</ref>`

[2020-06-16 21:04] davidamichelson commented on #850
[code]

[2020-06-16 21:06] davidamichelson commented on #850
742, 743, 746, 747, 749, 752, 754, 757, 759, 761, 763, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 792, 793, 794, 797, 802, 803, 804, 806, 807, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 829, 831, 832, 833, 834, 836, 843, 847, 848, 849, 850, 851

[2020-06-16 21:13] wlpotter commented on #847
Reopening this because I found 11 more records that do not have a resp or source. I will add resp attributes to these records.

[2020-06-16 21:27] davidamichelson opened #852 "Temporary Update to Schema allowing bibl/@type="syriaca:Manuscript""
@dlschwartz At present the works NHSL module (especially BHSE) has tei:bibl elements which do not have tei:ptr elements with Syriaca.org uris. This is because these bibl elements point at manuscripts.

This usage has bled over into the Gazetteer where we have 26 cases of bibl without ptr all of which are mss.

We will follow the NHSL module in allowing bibl/@type="syriaca:Manuscript" to not have a

[2020-06-16 21:28] davidamichelson commented on #852
- [ ] @dlschwartz please change schema

- [ ] @wlpotter please change data

- [ ] @davidamichelson please update documentation

[2020-06-16 21:30] davidamichelson opened #853 "Update Edition Number for TSG to 2.0 and add respStmts"
@wlpotter please update the editionStmt

[code]

[2020-06-16 21:31] wlpotter commented on #850
Use this as textnode: https://github.com/srophe/srophe-app-data/issues/850#issuecomment-645010603

[2020-06-16 21:39] davidamichelson commented on #853
[code]

[2020-06-16 21:41] wlpotter commented on #853
Note to self: add as last respStmt

[2020-06-16 21:45] wlpotter commented on #774
Data has been updated; it is currently validating.

[2020-06-16 21:46] dlschwartz commented on #774
@wlpotter thanks. But there is a bug I'm trying to fix. The schematron rule that requires tei:date works in a schematron file but not now that I've embedded it in the ODD. This commit still allow a past editor role to validate without a tei:date element child. I'll fix it in a minute.

[2020-06-16 21:48] #847 closed

[2020-06-16 21:50] #831 closed

[2020-06-16 21:55] wlpotter commented on #852
The data has been updated for this issue.

[2020-06-16 21:59] wlpotter commented on #850
I have added this to place data.

@davidamichelson we did change data in the other modules (bibl records got GEDSH URLs and there were other data-wide changes) as part of May 2019 batch changes. Should we add this tei:change to all data?

[2020-06-16 22:02] dlschwartz commented on #774
@wlpotter alright, it's still not working correctly. Enough being cocky, I'm going to fix this locally and the push it.

[2020-06-16 22:07] davidamichelson opened #854 "Schematron Error on Check on URI/File Name"
@dlschwartz the error message that checks that the file name and the URI match seems to be appending "20" to the number that it checks.

See this error for place 1449:
[code]

[2020-06-16 22:33] dlschwartz commented on #854
@davidamichelson I don't get this error. Can't fix it if isn't not firing for me. Hmmm.

[2020-06-16 22:55] dlschwartz commented on #774
@wlpotter @davidamichelson that last commit did the trick. Date is optional unless the editor role contains "past".

Btw, I didn't do anything to require the order of the different types of editor. Please let me know if I should do that.

[2020-06-16 22:58] davidamichelson commented on #854
Weird, let's see if @wlpotter is getting it?
<img width="1015" alt="Screen Shot 2020-06-16 at 5 58 02 PM" src="https://user-images.githubusercontent.com/3083773/84836243-f7a9b300-affa-11ea-8d53-18a2fcbcf27c.png">

[2020-06-16 23:02] dlschwartz commented on #854
@davidamichelson show me the full file path on your machine. I had to do something funny in the RegEx and I have an idea what might be wrong.

[2020-06-16 23:06] davidamichelson commented on #854
/Users/michelda/GitHub Repositories/srophe/srophe-app-data/data/places/tei/1449.xml

[2020-06-16 23:07] davidamichelson commented on #854
but maybe I don't have the latest ODD?
[code]

[2020-06-16 23:08] dlschwartz commented on #854
@davidamichelson interesting. That's the latest schema.

I use this XPath function to strip everything but the number from the document-uri: replace(document-uri(/), '[\D]', '')

Somehow you've gotten an extra "20" somewhere in the document-uri that I don't have.

[2020-06-16 23:11] dlschwartz commented on #854
@davidamichelson with that file open in oXygen, use the XPath box and run "document-uri(/)" and tell me what you get.

[2020-06-16 23:12] dlschwartz commented on #854
I get: "file:/C:/Users/daniel.schwartz/Documents/GitHub/srophe-app-data/data/places/tei/1449.xml"

[2020-06-16 23:15] dlschwartz commented on #854
I should probably write a different function that grabs everything after "tei/" and everything before ".xml" (but I thought I had a reason, a year ago, for doing what I did?). If someone kept their files in a folder with a number in the name that number wouldn't get stripped out. I'll take a look at that tomorrow.

[2020-06-17 00:45] davidamichelson commented on #854
Okay so I tested this on my laptop and it does not have the same issue. There must be something weird going on in my path on my desktop machine. Probably not worth fixing?

[2020-06-17 00:58] davidamichelson commented on #852
documentation has been updated

[2020-06-17 03:35] davidamichelson commented on #854
Lol, I figured it out, the path:

System ID: /Users/ID/GitHub Repositories/srophe/srophe-app-data/data/places/tei/1449.xml

has a whitespace in it, which gets rendered as

Description: file:/Users/ID/GitHub%20Repositories/srophe/srophe-app-data/data/places/tei/1449.xml

That is where our "20" is probably coming from.

I will rename my directory with a safer name with no whitespace!

[2020-06-17 03:35] #854 closed

[2020-06-17 03:55] dlschwartz commented on #854
@davidamichelson that's it. So, I've been tinkering with the Schematron and not coming up with a clear solution. Maybe I'll put this on the back burner and come back to it later.

[2020-06-17 04:45] dlschwartz commented on #854
@davidamichelson well, I fixed the bug for when there is a space in a folder name. Here's the commit: https://github.com/srophe/srophe-eXist-app/commit/ed4fe6e679b823d49437b53a165e174396c76c17.

If someone uses a number in a file name and then sticks the file into that folder it will still throw an error. I might have to ask Winona for some help. For the time being, however, this should be fine. I

[2020-06-17 04:57] #851 closed

[2020-06-17 05:20] davidamichelson commented on #843
Done

[2020-06-17 05:20] #843 closed

[2020-06-17 05:47] davidamichelson commented on #827
I updated this. @dlschwartz Can you confirm that this is correct:

The namespace declaration also include xmlns:syriaca="http://syriaca.org" and xmlns:svg="http://www.w3.org/2000/svg. These have been declared in anticipation of their future use in The Syriac Gazetteer but these tag sets are not used at present.

We don't use these two at present right?

[2020-06-17 05:53] #821 closed

[2020-06-17 05:58] davidamichelson commented on #817
We need to check in the HTML that this did not backfire :) There may be an issue here for Winona

[2020-06-17 06:00] davidamichelson commented on #850
@wlpotter No, we can update those later that is fine.

[2020-06-17 06:00] #850 closed

[2020-06-17 07:08] #834 closed

[2020-06-17 07:36] davidamichelson commented on #774
This needs HTML app issues for Winona

[2020-06-17 07:46] #819 closed

[2020-06-17 14:03] dlschwartz commented on #827
@davidamichelson we are not using these. We replace syriaca with srophe: xmlns:srophe="http://srophe.app".

[2020-06-17 14:08] wlpotter commented on #853
This has been changed in data. I don't think we need any documentation or schema updates, right?

[2020-06-17 14:37] wlpotter commented on #827
@dlschwartz @davidamichelson We have both xmlns:srophe="http://srophe.app" and xmlns:syriaca="http://syriaca.org" currently declared. I believe we replaced attributes that used the syriaca namespace with the srophe namespace (e.g. syiaca:tags -> srophe:tags).

If I remember correctly, we did not retain any instances of a syriaca namespaced element or attribute. However, #852, although a temporary

[2020-06-17 15:40] #853 closed

[2020-06-17 15:41] davidamichelson commented on #827
We are keeping them both for future development.

[2020-06-17 15:41] #827 closed

[2020-06-17 15:41] davidamichelson commented on #817
We need to make sure these names stay hidden if they have xml:lang="en-x-srp1"

[2020-06-17 15:43] davidamichelson commented on #766
Documentation will note that we removed xml ids for the ntoe and the link elements and just use @target

[2020-06-17 15:45] davidamichelson commented on #797
Okay this is done!

[2020-06-17 15:45] #797 closed

[2020-06-17 15:53] dlschwartz commented on #827
@wlpotter @davidamichelson remember that as an attribute value "syriaca:manuscript" is just a string. There isn't a need for a ns declaration in this case. We would only need it if we had a namespaced element or attribute. There's no harm in keep the declaration, we're just not currently using it.

[2020-06-17 15:57] wlpotter opened #855 "Correct empty @ref attributes in children of tei:location"
In several place records we have empty region, settlement, etc. elements that are children of `<location @type="nested>`, .e.g. `<region ref="http://syriaca.org/place/"/>`.

See http://syriaca.org/place/1759 for example.

Many of these appear to be coming from [Wilmshurst](http://syriaca.org/bibl/9).

[2020-06-17 15:59] wlpotter commented on #855
@wlpotter will generate a list of the records and elements affected by this issue

[2020-06-17 17:24] dlschwartz commented on #854
The commit above allows the idno in the header, which validates against the number in the file name, to validate regardless of the path where the file is located. Previously a space in a folder name or a folder name that was or contained a string of numbers would throw an error message.

[2020-06-17 18:02] dlschwartz commented on #852
@davidamichelson I'm going to put this in the syriacaPlaces ODD. I'm pretty sure that `<bibl>` in NHSL can contain more than just `<author>`, `<title>`, `<editor>`, `<citedRange>`, and `<ptr>` which is what we currently have in the syriacaPlaces ODD. We can tweak for NHSL later.

[2020-06-17 18:51] wlpotter commented on #855
These records are affected by this issue:

http://syriaca.org/place/1781
http://syriaca.org/place/1782
http://syriaca.org/place/1785
http://syriaca.org/place/1792
http://syriaca.org/place/1793
http://syriaca.org/place/1871
http://syriaca.org/place/2516
http://syriaca.org/place/2517

[2020-06-17 18:51] dlschwartz commented on #852
@wlpotter @davidamichelson let me know what you think of this solution. I think it works especially well for a temporary fix.

[2020-06-17 19:08] davidamichelson opened #856 "Need to restore XML declaration and processing instructions in some non-place records"
@dlschwartz Please send us a model for the processing instructions for non-place records to use as a placeholder

[2020-06-17 19:18] dlschwartz commented on #852
@davidamichelson @wlpotter and by the way, I put this into the syriacaAll ODD.

[2020-06-17 19:40] dlschwartz commented on #856
@davidamichelson @wlpotter

Places:
`<?xml-model href="https://raw.githubusercontent.com/srophe/srophe-eXist-app/master/documentation/schemas/out/syriacaPlaces.compiled.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>`
`<?xml-model href="https://raw.githubusercontent.com/srophe/srophe-eXist-app/master/documentation/schemas/out/syriacaPlaces.compiled.rng" type="appli

[2020-06-17 19:51] davidamichelson opened #857 "Data Issues"
- [x] 2808
- [x] 442
- [x] 3048
- [x] 2614

[2020-06-17 19:59] wlpotter commented on #829
This is done for places. But, due to #856 , will have to be done for:

- [ ] persons
- [ ] works
- [ ] bibls

[2020-06-17 19:59] wlpotter commented on #855
@davidamichelson I believe this can be closed?

[2020-06-17 20:14] wlpotter commented on #856
Woops! I forgot to link [this commit](https://github.com/srophe/srophe-app-data/commit/a5502869baf978e8115c2a28eefa1e3614811a7f) to this issue.

[2020-06-17 20:20] wlpotter commented on #856
Note also that place schemas were updated here: https://github.com/srophe/srophe-app-data/commit/7498a93d26df81d5ec5b39a0a59451299e6250a8

[2020-06-17 20:22] davidamichelson commented on #857
Note, the issue with place/3048 can be ignored. ```<persName ref="http://syriaca.org/person/1458">Abraham</persName>``` is a valid URI but has a conflict with a deprecated URI

[2020-06-17 20:24] davidamichelson commented on #857
See issue https://github.com/srophe/srophe-eXist-app/issues/1220

[2020-06-17 20:24] #857 closed

[2020-06-17 20:24] davidamichelson opened #858 "Is person/1328 deprecated?"

[2020-06-17 20:24] wlpotter commented on #856
Restoring the xml declaration is issue #829

[2020-06-17 20:26] wlpotter commented on #856
This has been fixed in all data.

[2020-06-17 20:26] #856 closed

[2020-06-17 20:31] wlpotter commented on #829
Fixed.

[2020-06-17 20:31] #829 closed

[2020-06-17 20:31] davidamichelson commented on #858
1328

[2020-06-17 20:53] davidamichelson opened #860 "in the same spirit of schematron rule that requires at least one bibl in the place element"
Could it also require at least one @source in the document?

Because currently the document can validate by having a source but not citing it.

[2020-06-17 20:54] davidamichelson opened #861 "Explain Chained Odds in Wiki"
Such a good job, with the training of odds, that probably we need a section on it in the wiki explaining how it is done. What do you think?

[2020-06-17 20:55] davidamichelson commented on #860
Description | element "place" incomplete; missing required element "bibl"
-- | --
Error

[2020-06-17 21:38] dlschwartz commented on #861
@davidamichelson sure. I'll take a look at this tomorrow.

[2020-06-17 21:46] dlschwartz commented on #860
@davidamichelson this is a little tricky. Pure ODD cannot do this and a schematron rule has to fire at a specific context. Do you have a preference for where it would fire? We currently have a schematron rule on `<text>` that has to do with @source.  It requires that every @source inside `<text>` point to an xml:id on a `<bibl>` or a `<listBibl>`. I could just put it there.

[2020-06-17 21:47] dlschwartz commented on #860
@davidamichelson sorry, is that graphic suggesting it fire on `<place>`? That's fine.

[2020-06-17 22:43] davidamichelson opened #862 "We lost St. Thomas"
Person http://www.syriaca.org/person/2123 not in DB?

[2020-06-18 02:22] wsalesky commented on #862
@davidamichelson I am doing an update on all the data in master. Hopefully this will catch any missing records.

[2020-06-18 04:18] davidamichelson commented on #862
:) I suspected that might be it, still though we would not be the first to have lost St. Thomas ;)

[2020-06-18 04:22] davidamichelson commented on #860
Hmm this is a touch quesiton. Let's discuss next meeting.

Every record should have a placeName but placeName[1] might not always need a source.

[2020-06-18 04:23] #855 closed

[2020-06-18 04:24] davidamichelson commented on #852
This is perfect, can we close this @dlschwartz ?

[2020-06-18 04:54] davidamichelson commented on #766
Turns out I did this already.

[2020-06-18 04:54] #766 closed

[2020-06-18 06:24] davidamichelson commented on #820
Merged into Master

[2020-06-18 06:24] #820 closed

[2020-06-18 14:06] dlschwartz commented on #852
Thanks.

[2020-06-18 14:06] #852 closed

[2020-06-18 14:46] davidamichelson commented on #789
Note SPEAR and MS are the only ones records that remain only on DEV.

[2020-06-18 14:48] davidamichelson commented on #789
Also we need to compare Feb 2020 version of Persons, Bibl, Works on Dev with Master from Feb 2020 make an ID list of the records which need hand editing.

[2020-06-18 14:50] davidamichelson opened #864 "Sort out Reserved Place URIS for TSG"
https://docs.google.com/spreadsheets/d/1QtPiCiu3FKT6ZUEJZTo_lGYlJfcSQmLcK7O4QK4rMt8/edit#gid=0

https://docs.google.com/spreadsheets/d/19FiCw1W-xHgOjWhwUbNDQOF078ByCJ6G0cJhfQLwcDE/edit#gid=277449405

[2020-06-18 14:51] davidamichelson commented on #864
Dan, this is an issue for me. Just tagging you so you can follow along.

[2020-06-18 14:51] dlschwartz commented on #860
@davidamichelson somehow I missed your latest comment. The above commit has a schematron rule
in syriacaAll that fires on `<text>`. It requires one or more `@source` attributes as a descendant of `<text>`.

The only place where we currently require a `@source` attribute is in the places schema on `<event>`. Everything else allows either `@source` or `@resp`.

I can easily change this so let's disc

[2020-06-18 14:51] dlschwartz opened #865 "Aleppo (diocese)"
@davidamichelson @wlpotter Just thought it might be best to make an issue of this as well as the message I sent here: https://github.com/srophe/draft-data/commit/6863cea9dc9288dee275db091405f4c9e7570ef7. Thanks.

[2020-06-18 14:58] davidamichelson commented on #864
It appears that the following URIS for places are cited in SPEAR but we do not have files:

http://syriaca.org/place/2571
--
http://syriaca.org/place/2572
http://syriaca.org/place/2573
http://syriaca.org/place/2574
http://syriaca.org/place/2575
http://syriaca.org/place/2609
http://syriaca.org/place/3249

[2020-06-18 14:59] wlpotter commented on #864
Here is a compiling of various spreadsheets that have reserved place URIs which are cross referenced with the URIs in place records which exist:

https://docs.google.com/spreadsheets/d/1bLjVo25rYi9Ff-Vv7td5eAyQfFXjm7QxCywwqAczp2g/edit?ouid=118100910679491558544&usp=sheets_home&ths=true

[2020-06-18 16:14] dlschwartz commented on #861
@davidamichelson here's the start of a draft: https://github.com/srophe/srophe-app-data/wiki/Syriaca.org-Schema-Customizations

[2020-06-18 16:36] dlschwartz commented on #861
Let's discuss what everyone thinks should appear here. I could go into the kind of detail we have on the TSG manual, but I'm not sure that's all that helpful. Or maybe it is.

[2020-06-18 18:33] #862 closed

[2020-06-18 18:39] #817 closed

[2020-06-18 18:41] #803 closed

[2020-06-18 21:29] dlschwartz opened #866 "Consider replacing @srophe:tags with @type"
The use of a namespaced attributes is a bit cumbersome from the perspective of schema customization. I propose we consider changing our practice to use `@type` instead of `@srophe:tags`. In recent discussions we raised the issue of possibly no longer needing `@srophe:computed` attributes. If we could get rid of all namespaced attribute values it would make schema work easier, both internally and f

[2020-06-19 19:13] dlschwartz opened #867 "TSG Manual: ns declarations"
@davidamichelson the wiki indicates that the ns declarations go on `<teiHeader>` but they go on the root `<TEI>` element instead.

[2020-06-19 20:01] davidamichelson opened #868 "New Places from Syriac World"
https://github.com/wlpotter/draft-data/tree/master/data/newPlacesOutput

These records were pushed to production branch with status "draft".

Next Steps:
- [ ] add new editors to editors.xml
- [ ] Review the comments at the end of each file
- [ ] Credit Mark and Hidemi on Asia Maps
- [ ] Review each entry
- [ ] Run maintenance scripts for half rings etc.

[2020-06-19 20:04] davidamichelson opened #869 "Updated Records from the Syriac World"
Data is here: https://github.com/srophe/srophe-xQueries/blob/master/Syriac-World-Maps-Util/xmlMasterTrees/oldRecordsMaster.xml

Possible Update Script is here: https://github.com/srophe/srophe-xQueries/blob/master/Syriac-World-Maps-Util/updating-existing-places-util/add-data-to-place-records.xq 

Need to do:
- [ ] Decided what fields to add to records
- citations to Syriac World
- Coordinates
- UR

[2020-06-19 20:05] davidamichelson opened #870 "Update New Place Records from BQG"

[2020-06-19 20:07] davidamichelson opened #871 "Updated Place Records from BQG Records"

[2020-06-19 20:08] davidamichelson opened #872 "List of Corrigenda to Syriac World Index"
https://app.asana.com/0/1133542327299194/1170058424202045

[2020-06-19 21:20] wlpotter commented on #868
Note: These are the editor URIs in the Syriac World places:

http://syriaca.org/documentation/editors.xml#dmichelson
http://syriaca.org/documentation/editors.xml#wpotter
http://syriaca.org/documentation/editors.xml#htakahashi
http://syriaca.org/documentation/editors.xml#mdickens
http://syriaca.org/documentation/editors.xml#imladjov
http://syriaca.org/documentation/editors.xml#tcarlson
http://syria

[2020-06-19 21:23] wlpotter commented on #870
Oops...the pull request was supposed to link to #868

[2020-06-20 16:17] davidamichelson commented on #867
Well... this could be your first chance to help co-author the wiki :)

On Fri, Jun 19, 2020 at 2:13 PM Daniel Schwartz <notifications@github.com>
wrote:

[2020-06-20 21:43] dlschwartz commented on #867
I've made many additions and edits going back to last year. I just didn't want to muck around while you've been in the middle of a big push.

[2020-06-24 12:57] nathangibson commented on #866
FWIW no problem from my side if we move this to `@type`.

Would be nice to avoid changing `@type` to allow multiple values (in some cases we could use `@subtype`) but I'm okay with this if needed.

[2020-06-24 20:40] dlschwartz opened #874 "Loss of text node in persName syriaca-Headword"
@davidamichelson I think the batch transforms have resulted in some data loss. See the first dozen or so results here and check the TEI: http://syriaca.org/persons/browse.html?lang=&alpha-filter=ALL

[2020-06-24 20:44] wsalesky commented on #874
@davidamichelson @dlschwartz Might be an application issue also. The application grabs the first headword, does not check to see if it is empty (which seems to be the case here).

[2020-06-24 20:48] davidamichelson commented on #874
Thanks Everyone! I'll look into it but not today.

On Wed, Jun 24, 2020 at 3:47 PM Daniel Schwartz <notifications@github.com>
wrote:

[2020-06-24 21:48] dlschwartz commented on #874
FYI, I've created a schematron rule in the syriacaPlaces ODD that throws an error is //tei:text//tei:place/tei:placeName has no content. The syriacaPersons ODD will need a similar rule for tei:persName when I write it.

[2020-06-26 22:40] davidamichelson commented on #874
Okay, I think that @wlpotter and I are off the hook. These data corruptions happened 4 years ago by an automated script: (search for URI 2819): https://github.com/srophe/srophe-app-data/commit/890e03b3abc45ece624c7f19f7f2aaed71018cc5#

[2020-06-26 22:42] davidamichelson commented on #874
I think probably hand edits will be the quickest repair. I will look into it.

[2020-07-03 16:08] dlschwartz opened #875 "Duplicate place names"
@davidamichelson take a look at this record: https://github.com/srophe/srophe-app-data/blob/master/data/places/tei/172.xml. Any chance transforms duplicated `<placeName>` elements? We have a number of duplicates, even to the point of all having `@resp` attributes and not separate `@source` attributes.

I'm not sure how widespread this might be.

[2020-07-03 20:36] dlschwartz opened #876 "Edition number for new records"
@davidamichelson can you take a look at the records in [this commit](https://github.com/srophe/srophe-app-data/commit/1dbafa83b668bc55a42d5e3f40da5275a6472b4e). They are new records that I made ages ago but never moved from draft data to app-data. I wasn't sure what edition number to use. Do we use the edition number for the individual record or the edition number for the data model iteration. If

[2020-07-06 20:54] dlschwartz opened #877 "missing bibl URIs"
I keep finding bibl citations in person records for which there is no URI: http://syriaca.org/bibl/1657 and http://syriaca.org/bibl/1692 but there may be others.

[2020-07-07 12:24] wsalesky opened #878 "Update persons, subjects and works with new srophe:tags attribute"
Add srophe namespace to TEI files on master branch, change `@syriaca-tags` to `@srophe:tags` and add change element.

[2020-07-08 15:47] dlschwartz opened #880 "anonymi in SBD"
We currently use `person/trait/label` with a text node "anonymous" for anonymi. The answer to this question depends a bit on how we see sub-modules of SBD going forward. But, I'm wondering whether instead we shouldn't be using `@ana="anonymous"` like we do for authors and saints.

[2020-07-08 17:08] dlschwartz opened #881 "Deprecation question"
@davidamichelson I'm not sure how we go about deprecating a record. We've got two entries for the Monastery of the Fathers. Neither URI has widespread use but http://syriaca.org/place/2777 is used in SPEAR while I cannot find any use of http://syriaca.org/place/2619 outside of the record itself.

[2020-07-09 07:18] nathangibson commented on #881
Jumping in here since I wrote some of the relevant stuff ...

In general, see https://github.com/srophe/srophe-app-data/wiki/Deprecated-Records (hopefully up-to-date)

Overall idea is that when the app finds `idno[@type="redirect"]` it redirects the old URI to the new one.

Also see examples:
https://github.com/srophe/srophe-xQueries/blob/master/merge-persons-example-deprecated-record.xml#L60
http

[2020-07-09 17:16] dlschwartz opened #882 "Missing Persons Report"
This is mostly a note to myself but if anyone has insights on this problem I'd be happy to have them.

It looks like we are missing person records that I thought were created some time ago. They are persons 3182-3271.

Also, it looks like URIs in the 3500s were used by E-Ktobe while also being used by the [web forms](https://github.com/srophe/draft-data/tree/master/data/fromWebforms). Most of thes

[2020-07-13 16:09] dlschwartz commented on #882
@wsalesky @davidamichelson I'm not sure how to investigate whether we've lost records. Perhaps there's some functionality on GitHub I'm not aware of that can help. I thought that we had person records in the 3182-3271 range. Any chance one of you could offer some quick help. Thanks.

[2020-07-13 16:24] wsalesky commented on #882
Hi Dan,
I ran a few of these to check for deleted files in the app-data repo but
did not find anything:
https://stackoverflow.com/questions/7203515/how-to-find-a-deleted-file-in-the-project-commit-history

Could they have been in draft data, not app data?
-Winona

On Mon, Jul 13, 2020 at 12:09 PM Daniel Schwartz <notifications@github.com>
wrote:

[2020-07-13 16:28] dlschwartz commented on #882
@wsalesky thanks! And thanks for the link too. I've checked in draft data. It looks like I never created them. I should be able to produce the spreadsheet quickly enough. Thanks for the help.

[2020-07-16 14:26] wsalesky commented on #878
Updated and merged.

[2020-07-16 14:26] #878 closed

[2020-07-30 19:13] dlschwartz commented on #882
All SPEAR data has been checked against person and place URIs. All person URIs needed have been entered into the person spreadsheet for transform using xQuery.

[2020-07-30 19:13] #882 closed

[2020-08-03 15:25] dlschwartz opened #883 "xml:id's on persName in persons data"
@davidamichelson do you have any idea what `<persName xml:id="name1535-h"....>` is all about. That `@xml:id` value doesn't look right.

[2020-08-04 16:29] dlschwartz opened #884 "proposed changes to SPEAR relation elements"
@nathangibson So I wanted to sketch out here the proposal for changes to relation factoids. It's more complicated than I anticipated. The question is what attribute to use for the full URI. It's made a bit more complicated by our use of `<relation>` for relationships between related events.

Current relationship between events
[code]

Current relation factoid
[code]

We should probably use `@ana`

[2020-08-04 18:30] dlschwartz commented on #884
@nathangibson bummer, I haven't accounted for the qualifier relationships (things like step, half, alleged, etc.) These currently go on a `@type` attribute which isn't really appropriate for a URI.

Current qualifier relationship:
[code]

The tricky bit about preferring URIs is that the TEI thinks of them as really only belonging on attributes in the teidata.pointer attribute class. Maybe the easi

[2020-08-05 13:48] nathangibson commented on #884
So, let me make sure I'm understanding the issue. I assume you don't want to put a URI in `@name` because it's not a pointer field? So you're looking for another place for it? You're looking at `@ana` because it takes pointers.

I didn't fully track the shift from using `@ref` on relation -- is this a possibility or was there a serious reason not to use that? I guess the question is really whether

[2020-08-05 14:00] nathangibson commented on #884
Assuming you actually want/need a different mechanism for event equivalence (see above), I have no problem with using `@corresp` on events -- which is more efficient anyway -- other than that if you're trying to generate RDF triples it isn't very explicit. But semantically it seems like a pretty good option.

But if you converted qualifier `@type` to URIs and included them in `@ana` along with the

[2020-08-05 15:35] dlschwartz commented on #884
@nathangibson I've been all over the guidelines this morning. I thought `@ref` was incorrect because it didn't seem quite right to say that in this context it would point to "canonical information about the object being named or referenced", see [att.canonical attribute class](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.canonical.html).

However, see the fourth example here: https

[2020-08-07 15:10] nathangibson commented on #884
@dlschwartz I like it -- seems straightforward, and semantically comprehensible! Thanks!

[2020-08-10 16:27] dlschwartz commented on #884
The commit above changes the following (in a branch of dev):
Change `@name` to `@ref`
Change `@type` (for qualifier relationships) to `@ana`
Change all values on these attributes from camel case name with "namespace" prefix to full taxonomy URI.

[2020-08-10 22:52] dlschwartz commented on #884
@nathangibson please take a look at these schema changes. They should implement most of the changes discussed in this issue.
Relation Factoids
`<relation>` takes `@ref` with the taxonomy keyword for the relationship.
`<relation>` takes `@ana` with the taxonomy keyword for the qualifier relationship.

Event Factoids
I decided to (temporarily?) keep the old `<listRelation>` inside `<listEvent>`. I n

[2020-08-10 22:59] dlschwartz commented on #884
@nathangibson I hesitated to implement `@corresp` because I wanted to make sure I was thinking correctly about where the attribute should go. If we use `@corresp` we're asserting that two event factoids correspond to one another because they deal with the same/similar/related events. Where should the `@corresp` go?

If it goes on `<event>`, is it odd for it to point to the URI for another factoid?

[2020-08-11 11:17] nathangibson commented on #884
@dlschwartz I see your point and agree that it could be odd for an event to "correspond" to a factoid. A factoid might correspond to a factoid, or an event to an event. So maybe it would make most sense on the factoid div itself.

One question though, is the _encoder_ asserting that the two factoids correspond? Or is the encoder recording _the source's assertion_ that the two events correspond (in

[2020-08-11 14:57] dlschwartz commented on #884
@nathangibson since the sources don't know anything about the factoids, all the encoder can assert is that she understands a connection between two factoids. Our current practice recognizes two types of connections between factoids `http://syriaca.org/keyword/proximate-event` and `http://syriaca.org/keyword/same-event`. The [definitions of these keywords](http://syriaca.org/keyword/proximate-event

[2020-08-19 21:41] dlschwartz commented on #884
@nathangibson I think you are right about the placement of the `<listRelation>` elements relating events. They should be children of the `<div>` and not a child of the `<listEvent>`. I think we'll want to require a `@type` on all `<event>` elements, either "person" or "event" in order to clarify the xml but also for processing. This would result in the following possibilities.

Minor change to old

[2020-08-20 17:03] dlschwartz opened #888 "Relationship keywords"
Currently in the spreadsheet and in the TEI, I use "reciprocal" for relationships that aren't mutual. This language is unclear. I should use instead something like "directed." This currently ends up in the TEI on an `@ana` attribute with `<idno type="SPEAR">`. The intent was that this was only for use in producing the index for validating SPEAR. In addition to changing the descriptive label, I nee

[2020-08-24 11:56] nathangibson commented on #888
Some uninvited input :-)

I agree that finding a term other than "reciprocal" would be less confusing.

Directedness has implications for network analysis such that "directed" could cause confusion. The directionality of the label might not match the directionality you want to analyze in the network. For example, "Parent Of" can only be applied to one side of the relationship. This might match the

[2020-08-25 14:58] dlschwartz commented on #888
@nathangibson thanks for this. I think you're right, just using "active-passive" is probably best.

Regarding inverses, one goal was to streamline the encoding process. So, we often don't have inverses as encoding options even if we sometimes do. Where we have them we should definitely build that into the RDF query.

That streamlining also manifests itself in dropping gendered relationships. You p

[2020-08-26 21:29] dlschwartz commented on #884
@nathangibson see the change in the commit above to draft-data (not  yet implemented in srophe-app-data or in the schema in srophe-eXist-app).

`<listRelation>` for relationships between event factoids appears after `<bibl>`, giving it a position analogous to a discursive `<note>`. See, https://github.com/srophe/draft-data/blob/master/data/spear/SPEAR_updates/tei/8559.xml#L8674 (might take a littl

[2020-08-28 12:28] nathangibson commented on #888
Great.

I would agree it simplifies things not to have inverses generally.

Right. This makes total sense.

[2020-08-28 12:32] nathangibson commented on #884
I'm very happy with these changes!

+1

If we want to do e.g. person-work relations should we use `@type='person'` or will we need a new type?

Hooray!

+1

I think it's clear so far. Let me know when you've updated the schema and I'll tweak ours then too.

[2020-08-28 12:53] dlschwartz commented on #884
@nathangibson excellent! You can check out the draft changes to the schema here in draft data: https://github.com/srophe/draft-data/tree/master/data/spear/SPEAR_updates/SPEARschema. If you were to download the draft-data repo and open those files in oXygen, they validate against an updated schema. Let me do some additional tests and let you know when you should start using this.

Good point on the

[2020-08-28 20:26] dlschwartz commented on #884
@nathangibson I created a [branch of dev](https://github.com/srophe/srophe-app-data/tree/2020-08-abRelationChanges/data/spear/tei) in srophe-app-data and converted all SPEAR files over to reflect these changes. I've associated those with the schema in draft-data: https://raw.githubusercontent.com/srophe/draft-data/master/data/spear/SPEAR_updates/SPEARschema/out/SPEAR.rng. All 136 files validate as

[2020-08-28 21:25] dlschwartz opened #889 "Schematron rule to require event relationship on both factoids"
Currently, a relationship (either "proximateEvent" or "sameEvent") can connect two event factoids. From the perspective of RDF serialization it is fine if this information exists in only one of the two or more event factoids. However, from the perspective of the HTML serialization, this data would only show up on the factoid page of the event in which that data is encoded.

It is always difficult

[2020-08-31 14:15] nathangibson commented on #884
As far as **relation types**, we are definitely thinking of person-work and work-work. We've also considered person-keyword (as in, e.g., "Ibn Ridwan criticized the practice of [astrology](http://syriaca.org/keyword/astrology)") but this might be adequately covered by event keywords. Place relations I think will be adequately covered by the various existing location features.

We're leaning away f